.bottomBar {
  background: var(--bottombar-bg);
  height: 25px;
  border-top: 1px solid var(--bottombar-border);
  color: rgba(113, 17, 245);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.bottomBar a {
  color: white;
  text-decoration: none;
}

.icon {
  margin-right: 4px;
}

.bottomBar a:hover {
  background: #9B8DA2;
    color: rgba(113, 17, 245);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    transition: color 4s,
  }

.container {
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  margin-right: 0.5rem;
  height: 24px;
  align-items: center;
  padding: 0 0.2rem;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}


@media screen and (max-width: 600px) {
  .bottomBar {
    font-size: 0.6rem;
  }
  .section {
    margin-right: 0.5rem;
  }
}
