.container {
  display: flex;
  justify-content: center;
  width: 190px;
  font-size: 1em;
  height: 60px;
  border: none;
  outline: none;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 40px;
  margin-top: 2em;
  display: inline-block;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

.container img {
  width: 12px;
  margin: 0 1em;
}

.container a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2em 1.5em;
}

.container::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #371B45,
      #371B45);
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  animation: move 20s linear infinite;
  opacity: 1;
  /*opacidade 0 tira rgb */
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}

.container:hover:before {
  /*modificado*/

  background: rgba(113, 17, 245);
  /*modificado*/
  color: rgba(113, 17, 245);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transition: color 4s,
}


.container::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9B8DA2 #9B8DA2;
  left: 0;
  top: 0;
  border-radius: 40px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}