.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container > * {
  flex: 1;
}

.container > div:first-child {
  border-right: 1px solid var(--accent-color);
}

.container h1 {
  margin-bottom: 2em;
  font-size: 1.5em;
}
.illustration {
  height: 17vh;
  display: flex;
  gap: 2em;
  bottom: 0;
  align-items: center;
  justify-content: center;

}

.illustration {
  width: 190px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0)
}
50% {
    transform: translateY(-50px)

}
100% {
    transform: translateY(0)
  }
}

.flex {
  display: flex;
  gap: 1em;
}

.form label {
  display: block;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  border-radius: 40px;
}

.form input,
.form textarea {
  font-family: 'JetBrains Mono';
  margin-bottom: 1.5em;
  background: var(--article-bg);
  color: var(--text-color);
  border: none;
  font-size: 1em;
  padding: 0.75em;
  width: 100%;
  resize: none;
  border-radius: 40px;
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid var(--accent-color);
  border-radius: 40px;
}

.form button {
  background: var(--accent-color);
  color: var(--main-bg);
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 40px;
  
}

.heading {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }
  .container > div:first-child {
    border-right: none;
    margin-bottom: 2.5em;
  
  }
}

@media screen and (max-width: 600px) {
  .flex {
    display: block;
  }
  .form input {
    font-size: 0.85em;
  }

}