.galaxia {

    height: 100%
    content radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
    overflow hidden
}

.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1631px 365px #d82a79, 756px 1915px #d82a79, 954px 1389px #d82a79,
        1097px 317px #d82a79, 773px 777px #d82a79, 1442px 341px #d82a79,
        431px 670px #d82a79, 578px 1244px #d82a79, 420px 1296px #d82a79,
        1345px 490px #d82a79, 895px 1179px #d82a79, 181px 347px #d82a79,
        1261px 751px #d82a79, 1092px 1531px #d82a79, 623px 1253px #d82a79,
        736px 1277px #d82a79, 928px 1216px #d82a79, 1972px 879px #d82a79,
        1101px 1563px #d82a79, 1264px 1351px #d82a79, 1448px 1269px #d82a79,
        680px 1151px #d82a79, 390px 838px #d82a79, 64px 1036px #d82a79,
        1098px 722px #d82a79, 1226px 1434px #d82a79, 591px 791px #d82a79,
        1405px 1499px #d82a79, 80px 1158px #d82a79, 788px 1973px #d82a79,
        1849px 1025px #d82a79, 816px 732px #d82a79, 1624px 1116px #d82a79,
        1724px 361px #d82a79, 722px 904px #d82a79, 1709px 1276px #d82a79,
        637px 1228px #d82a79, 707px 1915px #d82a79, 427px 97px #d82a79,
        1726px 1128px #d82a79, 957px 1343px #d82a79, 1994px 1341px #d82a79,
        1420px 845px #d82a79, 140px 1250px #d82a79, 807px 225px #d82a79,
        653px 1966px #d82a79, 863px 1515px #d82a79, 1389px 1510px #d82a79,
        1116px 1324px #d82a79, 994px 1012px #d82a79, 905px 837px #d82a79,
        1039px 818px #d82a79, 1131px 987px #d82a79, 833px 415px #d82a79,
        1718px 1047px #d82a79, 1339px 1153px #d82a79, 1142px 682px #d82a79,
        935px 1711px #d82a79, 1044px 510px #d82a79, 1330px 1422px #d82a79,
        1348px 765px #d82a79, 543px 1617px #d82a79, 818px 578px #d82a79,
        1719px 1678px #d82a79, 456px 1539px #d82a79, 671px 1707px #d82a79,
        379px 329px #d82a79, 1319px 1703px #d82a79, 761px 1949px #d82a79,
        1949px 605px #d82a79, 1070px 1362px #d82a79, 668px 254px #d82a79,
        257px 418px #d82a79, 763px 1674px #d82a79, 1057px 862px #d82a79,
        849px 1978px #d82a79, 1149px 1539px #d82a79, 322px 1429px #d82a79,
        523px 618px #d82a79, 861px 1663px #d82a79, 1331px 1391px #d82a79,
        1156px 75px #d82a79, 108px 1188px #d82a79, 1322px 870px #d82a79,
        1504px 865px #d82a79, 1350px 1700px #d82a79, 510px 1864px #d82a79,
        164px 546px #d82a79, 619px 1483px #d82a79, 1169px 59px #d82a79,
        322px 1048px #d82a79, 149px 1857px #d82a79, 1867px 1604px #d82a79,
        1200px 197px #d82a79, 991px 1145px #d82a79, 1290px 910px #d82a79,
        1432px 1360px #d82a79, 235px 663px #d82a79, 1799px 1039px #d82a79,
        1966px 972px #d82a79, 465px 1169px #d82a79, 894px 1751px #d82a79,
        1460px 1945px #d82a79, 337px 1480px #d82a79, 442px 1683px #d82a79,
        1121px 37px #d82a79, 727px 1248px #d82a79, 336px 576px #d82a79,
        448px 852px #d82a79, 1352px 1028px #d82a79, 1018px 1308px #d82a79,
        1997px 1776px #d82a79, 161px 508px #d82a79, 1063px 1148px #d82a79,
        1123px 1253px #d82a79, 74px 1663px #d82a79, 557px 140px #d82a79,
        1791px 1554px #d82a79, 1201px 723px #d82a79, 247px 500px #d82a79,
        1715px 1432px #d82a79, 967px 833px #d82a79, 856px 304px #d82a79,
        1683px 536px #d82a79, 1200px 1919px #d82a79, 385px 1835px #d82a79,
        187px 621px #d82a79, 918px 1612px #d82a79, 463px 1539px #d82a79,
        1692px 552px #d82a79, 1069px 1359px #d82a79, 871px 196px #d82a79,
        1184px 828px #d82a79, 1125px 1529px #d82a79, 972px 1644px #d82a79,
        1177px 519px #d82a79, 1201px 1271px #d82a79, 1267px 1385px #d82a79,
        1728px 168px #d82a79, 240px 1512px #d82a79, 89px 807px #d82a79,
        423px 1223px #d82a79, 574px 22px #d82a79, 1592px 400px #d82a79,
        483px 534px #d82a79, 1737px 722px #d82a79, 1572px 1232px #d82a79,
        1973px 1576px #d82a79, 1809px 1547px #d82a79, 728px 972px #d82a79,
        799px 659px #d82a79, 566px 1512px #d82a79, 266px 1726px #d82a79,
        1881px 1206px #d82a79, 1484px 940px #d82a79, 444px 999px #d82a79,
        1002px 1107px #d82a79, 1396px 104px #d82a79, 573px 1349px #d82a79,
        878px 293px #d82a79, 1735px 636px #d82a79, 1902px 548px #d82a79,
        180px 1251px #d82a79, 901px 1758px #d82a79, 398px 1197px #d82a79,
        1215px 35px #d82a79, 1884px 99px #d82a79, 1521px 812px #d82a79,
        324px 743px #d82a79, 1399px 559px #d82a79, 312px 148px #d82a79,
        834px 722px #d82a79, 186px 1655px #d82a79, 1821px 1672px #d82a79,
        1974px 1870px #d82a79, 554px 77px #d82a79, 144px 1483px #d82a79,
        1746px 501px #d82a79, 152px 1392px #d82a79, 1946px 239px #d82a79,
        1909px 1395px #d82a79, 1679px 573px #d82a79, 1630px 1899px #d82a79,
        1728px 1907px #d82a79, 1204px 242px #d82a79, 145px 866px #d82a79,
        117px 329px #d82a79, 456px 890px #d82a79, 1750px 1423px #d82a79,
        866px 1994px #d82a79, 1474px 1203px #d82a79, 1895px 1511px #d82a79,
        166px 1730px #d82a79, 321px 1605px #d82a79, 39px 1154px #d82a79,
        965px 972px #d82a79, 206px 415px #d82a79, 1981px 107px #d82a79,
        1399px 1057px #d82a79, 1754px 854px #d82a79, 1895px 756px #d82a79,
        680px 1945px #d82a79, 1732px 1826px #d82a79, 519px 581px #d82a79,
        1152px 77px #d82a79, 1978px 1294px #d82a79, 1620px 1423px #d82a79,
        277px 431px #d82a79, 1216px 1100px #d82a79, 115px 1977px #d82a79,
        1146px 267px #d82a79, 671px 1770px #d82a79, 884px 812px #d82a79,
        106px 172px #d82a79, 1400px 1564px #d82a79, 1685px 1274px #d82a79,
        610px 1536px #d82a79, 1839px 967px #d82a79, 1860px 1203px #d82a79,
        1285px 1787px #d82a79, 1616px 470px #d82a79, 602px 1760px #d82a79,
        215px 782px #d82a79, 1190px 950px #d82a79, 1988px 562px #d82a79,
        1154px 310px #d82a79, 1189px 650px #d82a79, 312px 1494px #d82a79,
        823px 348px #d82a79, 1858px 271px #d82a79, 489px 1012px #d82a79,
        458px 1950px #d82a79, 41px 1799px #d82a79, 1076px 1875px #d82a79,
        695px 195px #d82a79, 28px 48px #d82a79, 1778px 66px #d82a79,
        504px 1489px #d82a79, 1051px 80px #d82a79, 1406px 1774px #d82a79,
        1732px 780px #d82a79, 1118px 853px #d82a79, 516px 285px #d82a79,
        1515px 1087px #d82a79, 889px 1246px #d82a79, 1313px 1745px #d82a79,
        505px 1465px #d82a79, 214px 98px #d82a79, 1127px 842px #d82a79,
        1707px 1251px #d82a79, 1556px 122px #d82a79, 223px 1098px #d82a79,
        1169px 182px #d82a79, 1013px 1982px #d82a79, 1733px 443px #d82a79,
        1614px 539px #d82a79, 1820px 162px #d82a79, 1247px 811px #d82a79,
        206px 1923px #d82a79, 286px 878px #d82a79, 77px 915px #d82a79,
        864px 1153px #d82a79, 1704px 285px #d82a79, 59px 1983px #d82a79,
        819px 1133px #d82a79, 140px 1302px #d82a79, 320px 1876px #d82a79,
        951px 1286px #d82a79, 584px 98px #d82a79, 1487px 1129px #d82a79,
        1073px 1973px #d82a79, 174px 530px #d82a79, 1461px 35px #d82a79,
        1413px 905px #d82a79, 383px 814px #d82a79, 1150px 306px #d82a79,
        615px 1682px #d82a79, 247px 1839px #d82a79, 1382px 290px #d82a79,
        1485px 1740px #d82a79, 901px 1282px #d82a79, 794px 937px #d82a79,
        612px 620px #d82a79, 1017px 250px #d82a79, 989px 1353px #d82a79,
        1469px 906px #d82a79, 1021px 1615px #d82a79, 1568px 367px #d82a79,
        1008px 729px #d82a79, 1751px 1993px #d82a79, 787px 547px #d82a79,
        313px 1261px #d82a79, 1292px 1876px #d82a79, 1692px 756px #d82a79,
        821px 157px #d82a79, 1236px 418px #d82a79, 1125px 1416px #d82a79,
        625px 907px #d82a79, 1817px 1520px #d82a79, 558px 927px #d82a79,
        1545px 293px #d82a79, 1328px 1175px #d82a79, 845px 1499px #d82a79,
        1733px 1680px #d82a79, 150px 1327px #d82a79, 378px 620px #d82a79,
        800px 1060px #d82a79, 1635px 1356px #d82a79, 164px 1639px #d82a79,
        424px 269px #d82a79, 1344px 602px #d82a79, 1008px 1560px #d82a79,
        515px 1489px #d82a79, 1471px 1117px #d82a79, 1410px 527px #d82a79,
        387px 1335px #d82a79, 1160px 1735px #d82a79, 1375px 1594px #d82a79,
        1658px 1375px #d82a79, 216px 302px #d82a79, 563px 386px #d82a79,
        1218px 226px #d82a79, 560px 1359px #d82a79, 949px 1089px #d82a79,
        1736px 924px #d82a79, 1018px 1374px #d82a79, 934px 1562px #d82a79,
        1224px 1712px #d82a79, 559px 1348px #d82a79, 1123px 218px #d82a79,
        1073px 937px #d82a79, 596px 1499px #d82a79, 913px 951px #d82a79,
        357px 770px #d82a79, 495px 335px #d82a79, 279px 104px #d82a79,
        758px 1659px #d82a79, 655px 763px #d82a79, 1351px 636px #d82a79,
        1407px 1502px #d82a79, 661px 688px #d82a79, 1654px 671px #d82a79,
        1783px 585px #d82a79, 372px 304px #d82a79, 1237px 1519px #d82a79,
        61px 973px #d82a79, 905px 331px #d82a79, 1484px 1224px #d82a79,
        1500px 1927px #d82a79, 593px 1262px #d82a79, 766px 604px #d82a79,
        730px 247px #d82a79, 741px 1956px #d82a79, 672px 609px #d82a79,
        1192px 1552px #d82a79, 1382px 1134px #d82a79, 681px 1090px #d82a79,
        73px 1777px #d82a79, 46px 1068px #d82a79, 199px 88px #d82a79,
        660px 136px #d82a79, 437px 1047px #d82a79, 1157px 709px #d82a79,
        1424px 252px #d82a79, 982px 657px #d82a79, 981px 880px #d82a79,
        263px 1319px #d82a79, 1955px 1180px #d82a79, 1469px 1531px #d82a79,
        171px 48px #d82a79, 148px 1050px #d82a79, 1776px 693px #d82a79,
        1259px 294px #d82a79, 738px 1554px #d82a79, 713px 819px #d82a79,
        187px 234px #d82a79, 1665px 1890px #d82a79, 835px 832px #d82a79,
        1788px 1265px #d82a79, 1275px 1181px #d82a79, 1828px 1404px #d82a79,
        1285px 857px #d82a79, 1448px 1477px #d82a79, 718px 402px #d82a79,
        265px 1515px #d82a79, 1067px 1336px #d82a79, 1236px 142px #d82a79,
        1266px 94px #d82a79, 598px 926px #d82a79, 1327px 21px #d82a79,
        1670px 630px #d82a79, 1055px 716px #d82a79, 396px 1740px #d82a79,
        984px 1662px #d82a79, 1793px 661px #d82a79, 418px 1941px #d82a79,
        1571px 853px #d82a79, 977px 269px #d82a79, 609px 302px #d82a79,
        671px 1795px #d82a79, 1898px 1163px #d82a79, 1534px 483px #d82a79,
        1041px 1660px #d82a79, 97px 420px #d82a79, 1874px 964px #d82a79,
        895px 747px #d82a79, 588px 1939px #d82a79, 1932px 710px #d82a79,
        1928px 1832px #d82a79, 491px 1532px #d82a79, 234px 1628px #d82a79,
        1877px 1454px #d82a79, 816px 1479px #d82a79, 357px 1884px #d82a79,
        1642px 1762px #d82a79, 364px 1011px #d82a79, 1732px 1826px #d82a79,
        1451px 1008px #d82a79, 1112px 767px #d82a79, 1624px 412px #d82a79,
        1111px 1890px #d82a79, 734px 1050px #d82a79, 1917px 1173px #d82a79,
        394px 1729px #d82a79, 838px 657px #d82a79, 16px 564px #d82a79,
        1342px 1424px #d82a79, 987px 478px #d82a79, 349px 1609px #d82a79,
        850px 179px #d82a79, 984px 751px #d82a79, 1549px 1188px #d82a79,
        297px 260px #d82a79, 1355px 226px #d82a79, 385px 1278px #d82a79,
        678px 1533px #d82a79, 1481px 1595px #d82a79, 1449px 27px #d82a79,
        1480px 828px #d82a79, 1911px 87px #d82a79, 923px 182px #d82a79,
        1652px 1678px #d82a79, 1340px 1295px #d82a79, 1548px 1304px #d82a79,
        708px 170px #d82a79, 424px 1769px #d82a79, 1604px 1731px #d82a79,
        916px 1382px #d82a79, 658px 1482px #d82a79, 662px 1969px #d82a79,
        179px 1800px #d82a79, 1459px 1041px #d82a79, 642px 1215px #d82a79,
        1160px 1492px #d82a79, 159px 1234px #d82a79, 1702px 1087px #d82a79,
        691px 1884px #d82a79, 1983px 1799px #d82a79, 1344px 1824px #d82a79,
        269px 23px #d82a79, 1666px 210px #d82a79, 928px 1111px #d82a79,
        257px 44px #d82a79, 43px 227px #d82a79, 394px 1999px #d82a79,
        906px 1542px #d82a79, 1661px 290px #d82a79, 621px 1649px #d82a79,
        1917px 1613px #d82a79, 1389px 1217px #d82a79, 673px 781px #d82a79,
        1736px 756px #d82a79, 492px 1651px #d82a79, 1490px 574px #d82a79,
        1700px 1528px #d82a79, 5px 537px #d82a79, 1924px 1935px #d82a79,
        688px 1270px #d82a79, 1422px 488px #d82a79, 408px 190px #d82a79,
        1307px 326px #d82a79, 1414px 1235px #d82a79, 572px 1043px #d82a79,
        1328px 670px #d82a79, 223px 1305px #d82a79, 1929px 1852px #d82a79,
        1701px 179px #d82a79, 54px 209px #d82a79, 1487px 1103px #d82a79,
        884px 360px #d82a79, 471px 1001px #d82a79, 614px 1967px #d82a79,
        1673px 273px #d82a79, 1342px 1505px #d82a79, 809px 272px #d82a79,
        460px 591px #d82a79, 660px 350px #d82a79, 892px 1842px #d82a79,
        1216px 423px #d82a79, 951px 156px #d82a79, 1397px 669px #d82a79,
        1624px 1497px #d82a79, 625px 1717px #d82a79, 1294px 1495px #d82a79,
        608px 705px #d82a79, 1019px 1645px #d82a79, 1969px 1865px #d82a79,
        732px 1949px #d82a79, 1705px 1424px #d82a79, 727px 1557px #d82a79,
        285px 1651px #d82a79, 952px 597px #d82a79, 638px 232px #d82a79,
        766px 1427px #d82a79, 1503px 608px #d82a79, 1087px 1235px #d82a79,
        1263px 1523px #d82a79, 1378px 342px #d82a79, 423px 1962px #d82a79,
        1353px 978px #d82a79, 772px 299px #d82a79, 22px 1239px #d82a79,
        1737px 1664px #d82a79, 1459px 1718px #d82a79, 1718px 1421px #d82a79,
        1070px 1893px #d82a79, 1713px 1988px #d82a79, 725px 65px #d82a79,
        584px 1882px #d82a79, 697px 767px #d82a79, 119px 1111px #d82a79,
        1146px 833px #d82a79, 517px 696px #d82a79, 1959px 821px #d82a79,
        1312px 1130px #d82a79, 580px 1715px #d82a79, 932px 1179px #d82a79,
        1601px 588px #d82a79, 156px 1679px #d82a79, 90px 181px #d82a79,
        1806px 1961px #d82a79, 1983px 849px #d82a79, 1915px 367px #d82a79,
        337px 1805px #d82a79, 946px 197px #d82a79, 985px 1566px #d82a79,
        1314px 590px #d82a79, 1887px 1622px #d82a79, 976px 568px #d82a79,
        985px 850px #d82a79, 40px 1635px #d82a79, 767px 1489px #d82a79,
        612px 457px #d82a79, 1506px 79px #d82a79, 1827px 36px #d82a79,
        329px 1648px #d82a79, 639px 664px #d82a79, 772px 650px #d82a79,
        772px 1635px #d82a79, 1050px 1929px #d82a79, 1831px 327px #d82a79,
        156px 1237px #d82a79, 54px 331px #d82a79, 1605px 525px #d82a79,
        1319px 1164px #d82a79, 207px 996px #d82a79, 1399px 179px #d82a79,
        779px 1029px #d82a79, 1710px 1708px #d82a79, 156px 1895px #d82a79,
        454px 751px #d82a79, 502px 1202px #d82a79, 1161px 621px #d82a79,
        1704px 1690px #d82a79, 1006px 100px #d82a79, 353px 1048px #d82a79,
        24px 1248px #d82a79, 1028px 306px #d82a79, 822px 882px #d82a79,
        482px 1785px #d82a79, 62px 265px #d82a79, 1607px 1347px #d82a79,
        99px 1234px #d82a79, 133px 469px #d82a79, 884px 402px #d82a79,
        1602px 1415px #d82a79, 1169px 1837px #d82a79, 1516px 177px #d82a79,
        1385px 451px #d82a79, 128px 1492px #d82a79, 362px 1501px #d82a79,
        1719px 681px #d82a79, 410px 558px #d82a79, 1239px 1749px #d82a79,
        1927px 576px #d82a79, 1255px 1964px #d82a79, 399px 142px #d82a79,
        760px 780px #d82a79, 771px 865px #d82a79, 794px 66px #d82a79,
        598px 1887px #d82a79, 1616px 1071px #d82a79, 193px 1564px #d82a79,
        888px 39px #d82a79, 773px 1596px #d82a79, 76px 1272px #d82a79,
        1160px 1057px #d82a79, 1436px 766px #d82a79, 132px 564px #d82a79,
        1881px 1232px #d82a79, 1001px 1455px #d82a79, 48px 772px #d82a79,
        1886px 528px #d82a79, 932px 546px #d82a79, 769px 1727px #d82a79,
        1184px 166px #d82a79, 468px 608px #d82a79, 1581px 94px #d82a79,
        1406px 123px #d82a79, 1769px 700px #d82a79, 790px 1354px #d82a79,
        1665px 1903px #d82a79, 1130px 1040px #d82a79, 1147px 877px #d82a79,
        1996px 1801px #d82a79, 1943px 1363px #d82a79, 91px 1136px #d82a79,
        1554px 1684px #d82a79, 409px 1984px #d82a79, 1037px 1481px #d82a79,
        934px 1053px #d82a79, 452px 864px #d82a79, 640px 1916px #d82a79,
        1569px 1859px #d82a79, 1300px 1041px #d82a79, 365px 1871px #d82a79,
        1841px 1797px #d82a79, 1573px 161px #d82a79, 405px 1933px #d82a79,
        289px 680px #d82a79, 452px 1064px #d82a79, 1728px 1107px #d82a79,
        469px 1563px #d82a79, 1736px 1830px #d82a79, 702px 1586px #d82a79,
        1286px 362px #d82a79, 685px 139px #d82a79, 1269px 382px #d82a79,
        907px 227px #d82a79, 854px 484px #d82a79, 1449px 1320px #d82a79,
        400px 109px #d82a79, 1907px 1989px #d82a79, 1625px 93px #d82a79,
        1942px 1345px #d82a79, 810px 944px #d82a79, 1807px 1180px #d82a79,
        62px 1070px #d82a79, 484px 850px #d82a79, 574px 1262px #d82a79,
        899px 51px #d82a79, 1494px 1607px #d82a79, 735px 1761px #d82a79,
        723px 34px #d82a79, 873px 242px #d82a79, 1308px 1735px #d82a79,
        806px 1605px #d82a79, 1431px 750px #d82a79, 1549px 1117px #d82a79,
        663px 825px #d82a79, 1194px 406px #d82a79, 808px 667px #d82a79,
        830px 1416px #d82a79, 1023px 506px #d82a79, 1297px 312px #d82a79,
        131px 139px #d82a79, 731px 1792px #d82a79, 1319px 875px #d82a79,
        1994px 1375px #d82a79, 584px 1592px #d82a79, 1871px 1798px #d82a79,
        1842px 1394px #d82a79, 438px 295px #d82a79, 612px 1477px #d82a79,
        595px 180px #d82a79, 44px 481px #d82a79, 1882px 1447px #d82a79,
        493px 806px #d82a79, 1595px 1024px #d82a79, 277px 1756px #d82a79,
        1745px 322px #d82a79, 908px 447px #d82a79, 1259px 101px #d82a79,
        1450px 1297px #d82a79, 528px 324px #d82a79, 1285px 612px #d82a79,
        1154px 1208px #d82a79, 1048px 1588px #d82a79, 1105px 1439px #d82a79,
        408px 900px #d82a79;
    animation: animStar 50s linear infinite;
}

.stars:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1631px 365px #d82a79, 756px 1915px #d82a79, 954px 1389px #d82a79,
        1097px 317px #d82a79, 773px 777px #d82a79, 1442px 341px #d82a79,
        431px 670px #d82a79, 578px 1244px #d82a79, 420px 1296px #d82a79,
        1345px 490px #d82a79, 895px 1179px #d82a79, 181px 347px #d82a79,
        1261px 751px #d82a79, 1092px 1531px #d82a79, 623px 1253px #d82a79,
        736px 1277px #d82a79, 928px 1216px #d82a79, 1972px 879px #d82a79,
        1101px 1563px #d82a79, 1264px 1351px #d82a79, 1448px 1269px #d82a79,
        680px 1151px #d82a79, 390px 838px #d82a79, 64px 1036px #d82a79,
        1098px 722px #d82a79, 1226px 1434px #d82a79, 591px 791px #d82a79,
        1405px 1499px #d82a79, 80px 1158px #d82a79, 788px 1973px #d82a79,
        1849px 1025px #d82a79, 816px 732px #d82a79, 1624px 1116px #d82a79,
        1724px 361px #d82a79, 722px 904px #d82a79, 1709px 1276px #d82a79,
        637px 1228px #d82a79, 707px 1915px #d82a79, 427px 97px #d82a79,
        1726px 1128px #d82a79, 957px 1343px #d82a79, 1994px 1341px #d82a79,
        1420px 845px #d82a79, 140px 1250px #d82a79, 807px 225px #d82a79,
        653px 1966px #d82a79, 863px 1515px #d82a79, 1389px 1510px #d82a79,
        1116px 1324px #d82a79, 994px 1012px #d82a79, 905px 837px #d82a79,
        1039px 818px #d82a79, 1131px 987px #d82a79, 833px 415px #d82a79,
        1718px 1047px #d82a79, 1339px 1153px #d82a79, 1142px 682px #d82a79,
        935px 1711px #d82a79, 1044px 510px #d82a79, 1330px 1422px #d82a79,
        1348px 765px #d82a79, 543px 1617px #d82a79, 818px 578px #d82a79,
        1719px 1678px #d82a79, 456px 1539px #d82a79, 671px 1707px #d82a79,
        379px 329px #d82a79, 1319px 1703px #d82a79, 761px 1949px #d82a79,
        1949px 605px #d82a79, 1070px 1362px #d82a79, 668px 254px #d82a79,
        257px 418px #d82a79, 763px 1674px #d82a79, 1057px 862px #d82a79,
        849px 1978px #d82a79, 1149px 1539px #d82a79, 322px 1429px #d82a79,
        523px 618px #d82a79, 861px 1663px #d82a79, 1331px 1391px #d82a79,
        1156px 75px #d82a79, 108px 1188px #d82a79, 1322px 870px #d82a79,
        1504px 865px #d82a79, 1350px 1700px #d82a79, 510px 1864px #d82a79,
        164px 546px #d82a79, 619px 1483px #d82a79, 1169px 59px #d82a79,
        322px 1048px #d82a79, 149px 1857px #d82a79, 1867px 1604px #d82a79,
        1200px 197px #d82a79, 991px 1145px #d82a79, 1290px 910px #d82a79,
        1432px 1360px #d82a79, 235px 663px #d82a79, 1799px 1039px #d82a79,
        1966px 972px #d82a79, 465px 1169px #d82a79, 894px 1751px #d82a79,
        1460px 1945px #d82a79, 337px 1480px #d82a79, 442px 1683px #d82a79,
        1121px 37px #d82a79, 727px 1248px #d82a79, 336px 576px #d82a79,
        448px 852px #d82a79, 1352px 1028px #d82a79, 1018px 1308px #d82a79,
        1997px 1776px #d82a79, 161px 508px #d82a79, 1063px 1148px #d82a79,
        1123px 1253px #d82a79, 74px 1663px #d82a79, 557px 140px #d82a79,
        1791px 1554px #d82a79, 1201px 723px #d82a79, 247px 500px #d82a79,
        1715px 1432px #d82a79, 967px 833px #d82a79, 856px 304px #d82a79,
        1683px 536px #d82a79, 1200px 1919px #d82a79, 385px 1835px #d82a79,
        187px 621px #d82a79, 918px 1612px #d82a79, 463px 1539px #d82a79,
        1692px 552px #d82a79, 1069px 1359px #d82a79, 871px 196px #d82a79,
        1184px 828px #d82a79, 1125px 1529px #d82a79, 972px 1644px #d82a79,
        1177px 519px #d82a79, 1201px 1271px #d82a79, 1267px 1385px #d82a79,
        1728px 168px #d82a79, 240px 1512px #d82a79, 89px 807px #d82a79,
        423px 1223px #d82a79, 574px 22px #d82a79, 1592px 400px #d82a79,
        483px 534px #d82a79, 1737px 722px #d82a79, 1572px 1232px #d82a79,
        1973px 1576px #d82a79, 1809px 1547px #d82a79, 728px 972px #d82a79,
        799px 659px #d82a79, 566px 1512px #d82a79, 266px 1726px #d82a79,
        1881px 1206px #d82a79, 1484px 940px #d82a79, 444px 999px #d82a79,
        1002px 1107px #d82a79, 1396px 104px #d82a79, 573px 1349px #d82a79,
        878px 293px #d82a79, 1735px 636px #d82a79, 1902px 548px #d82a79,
        180px 1251px #d82a79, 901px 1758px #d82a79, 398px 1197px #d82a79,
        1215px 35px #d82a79, 1884px 99px #d82a79, 1521px 812px #d82a79,
        324px 743px #d82a79, 1399px 559px #d82a79, 312px 148px #d82a79,
        834px 722px #d82a79, 186px 1655px #d82a79, 1821px 1672px #d82a79,
        1974px 1870px #d82a79, 554px 77px #d82a79, 144px 1483px #d82a79,
        1746px 501px #d82a79, 152px 1392px #d82a79, 1946px 239px #d82a79,
        1909px 1395px #d82a79, 1679px 573px #d82a79, 1630px 1899px #d82a79,
        1728px 1907px #d82a79, 1204px 242px #d82a79, 145px 866px #d82a79,
        117px 329px #d82a79, 456px 890px #d82a79, 1750px 1423px #d82a79,
        866px 1994px #d82a79, 1474px 1203px #d82a79, 1895px 1511px #d82a79,
        166px 1730px #d82a79, 321px 1605px #d82a79, 39px 1154px #d82a79,
        965px 972px #d82a79, 206px 415px #d82a79, 1981px 107px #d82a79,
        1399px 1057px #d82a79, 1754px 854px #d82a79, 1895px 756px #d82a79,
        680px 1945px #d82a79, 1732px 1826px #d82a79, 519px 581px #d82a79,
        1152px 77px #d82a79, 1978px 1294px #d82a79, 1620px 1423px #d82a79,
        277px 431px #d82a79, 1216px 1100px #d82a79, 115px 1977px #d82a79,
        1146px 267px #d82a79, 671px 1770px #d82a79, 884px 812px #d82a79,
        106px 172px #d82a79, 1400px 1564px #d82a79, 1685px 1274px #d82a79,
        610px 1536px #d82a79, 1839px 967px #d82a79, 1860px 1203px #d82a79,
        1285px 1787px #d82a79, 1616px 470px #d82a79, 602px 1760px #d82a79,
        215px 782px #d82a79, 1190px 950px #d82a79, 1988px 562px #d82a79,
        1154px 310px #d82a79, 1189px 650px #d82a79, 312px 1494px #d82a79,
        823px 348px #d82a79, 1858px 271px #d82a79, 489px 1012px #d82a79,
        458px 1950px #d82a79, 41px 1799px #d82a79, 1076px 1875px #d82a79,
        695px 195px #d82a79, 28px 48px #d82a79, 1778px 66px #d82a79,
        504px 1489px #d82a79, 1051px 80px #d82a79, 1406px 1774px #d82a79,
        1732px 780px #d82a79, 1118px 853px #d82a79, 516px 285px #d82a79,
        1515px 1087px #d82a79, 889px 1246px #d82a79, 1313px 1745px #d82a79,
        505px 1465px #d82a79, 214px 98px #d82a79, 1127px 842px #d82a79,
        1707px 1251px #d82a79, 1556px 122px #d82a79, 223px 1098px #d82a79,
        1169px 182px #d82a79, 1013px 1982px #d82a79, 1733px 443px #d82a79,
        1614px 539px #d82a79, 1820px 162px #d82a79, 1247px 811px #d82a79,
        206px 1923px #d82a79, 286px 878px #d82a79, 77px 915px #d82a79,
        864px 1153px #d82a79, 1704px 285px #d82a79, 59px 1983px #d82a79,
        819px 1133px #d82a79, 140px 1302px #d82a79, 320px 1876px #d82a79,
        951px 1286px #d82a79, 584px 98px #d82a79, 1487px 1129px #d82a79,
        1073px 1973px #d82a79, 174px 530px #d82a79, 1461px 35px #d82a79,
        1413px 905px #d82a79, 383px 814px #d82a79, 1150px 306px #d82a79,
        615px 1682px #d82a79, 247px 1839px #d82a79, 1382px 290px #d82a79,
        1485px 1740px #d82a79, 901px 1282px #d82a79, 794px 937px #d82a79,
        612px 620px #d82a79, 1017px 250px #d82a79, 989px 1353px #d82a79,
        1469px 906px #d82a79, 1021px 1615px #d82a79, 1568px 367px #d82a79,
        1008px 729px #d82a79, 1751px 1993px #d82a79, 787px 547px #d82a79,
        313px 1261px #d82a79, 1292px 1876px #d82a79, 1692px 756px #d82a79,
        821px 157px #d82a79, 1236px 418px #d82a79, 1125px 1416px #d82a79,
        625px 907px #d82a79, 1817px 1520px #d82a79, 558px 927px #d82a79,
        1545px 293px #d82a79, 1328px 1175px #d82a79, 845px 1499px #d82a79,
        1733px 1680px #d82a79, 150px 1327px #d82a79, 378px 620px #d82a79,
        800px 1060px #d82a79, 1635px 1356px #d82a79, 164px 1639px #d82a79,
        424px 269px #d82a79, 1344px 602px #d82a79, 1008px 1560px #d82a79,
        515px 1489px #d82a79, 1471px 1117px #d82a79, 1410px 527px #d82a79,
        387px 1335px #d82a79, 1160px 1735px #d82a79, 1375px 1594px #d82a79,
        1658px 1375px #d82a79, 216px 302px #d82a79, 563px 386px #d82a79,
        1218px 226px #d82a79, 560px 1359px #d82a79, 949px 1089px #d82a79,
        1736px 924px #d82a79, 1018px 1374px #d82a79, 934px 1562px #d82a79,
        1224px 1712px #d82a79, 559px 1348px #d82a79, 1123px 218px #d82a79,
        1073px 937px #d82a79, 596px 1499px #d82a79, 913px 951px #d82a79,
        357px 770px #d82a79, 495px 335px #d82a79, 279px 104px #d82a79,
        758px 1659px #d82a79, 655px 763px #d82a79, 1351px 636px #d82a79,
        1407px 1502px #d82a79, 661px 688px #d82a79, 1654px 671px #d82a79,
        1783px 585px #d82a79, 372px 304px #d82a79, 1237px 1519px #d82a79,
        61px 973px #d82a79, 905px 331px #d82a79, 1484px 1224px #d82a79,
        1500px 1927px #d82a79, 593px 1262px #d82a79, 766px 604px #d82a79,
        730px 247px #d82a79, 741px 1956px #d82a79, 672px 609px #d82a79,
        1192px 1552px #d82a79, 1382px 1134px #d82a79, 681px 1090px #d82a79,
        73px 1777px #d82a79, 46px 1068px #d82a79, 199px 88px #d82a79,
        660px 136px #d82a79, 437px 1047px #d82a79, 1157px 709px #d82a79,
        1424px 252px #d82a79, 982px 657px #d82a79, 981px 880px #d82a79,
        263px 1319px #d82a79, 1955px 1180px #d82a79, 1469px 1531px #d82a79,
        171px 48px #d82a79, 148px 1050px #d82a79, 1776px 693px #d82a79,
        1259px 294px #d82a79, 738px 1554px #d82a79, 713px 819px #d82a79,
        187px 234px #d82a79, 1665px 1890px #d82a79, 835px 832px #d82a79,
        1788px 1265px #d82a79, 1275px 1181px #d82a79, 1828px 1404px #d82a79,
        1285px 857px #d82a79, 1448px 1477px #d82a79, 718px 402px #d82a79,
        265px 1515px #d82a79, 1067px 1336px #d82a79, 1236px 142px #d82a79,
        1266px 94px #d82a79, 598px 926px #d82a79, 1327px 21px #d82a79,
        1670px 630px #d82a79, 1055px 716px #d82a79, 396px 1740px #d82a79,
        984px 1662px #d82a79, 1793px 661px #d82a79, 418px 1941px #d82a79,
        1571px 853px #d82a79, 977px 269px #d82a79, 609px 302px #d82a79,
        671px 1795px #d82a79, 1898px 1163px #d82a79, 1534px 483px #d82a79,
        1041px 1660px #d82a79, 97px 420px #d82a79, 1874px 964px #d82a79,
        895px 747px #d82a79, 588px 1939px #d82a79, 1932px 710px #d82a79,
        1928px 1832px #d82a79, 491px 1532px #d82a79, 234px 1628px #d82a79,
        1877px 1454px #d82a79, 816px 1479px #d82a79, 357px 1884px #d82a79,
        1642px 1762px #d82a79, 364px 1011px #d82a79, 1732px 1826px #d82a79,
        1451px 1008px #d82a79, 1112px 767px #d82a79, 1624px 412px #d82a79,
        1111px 1890px #d82a79, 734px 1050px #d82a79, 1917px 1173px #d82a79,
        394px 1729px #d82a79, 838px 657px #d82a79, 16px 564px #d82a79,
        1342px 1424px #d82a79, 987px 478px #d82a79, 349px 1609px #d82a79,
        850px 179px #d82a79, 984px 751px #d82a79, 1549px 1188px #d82a79,
        297px 260px #d82a79, 1355px 226px #d82a79, 385px 1278px #d82a79,
        678px 1533px #d82a79, 1481px 1595px #d82a79, 1449px 27px #d82a79,
        1480px 828px #d82a79, 1911px 87px #d82a79, 923px 182px #d82a79,
        1652px 1678px #d82a79, 1340px 1295px #d82a79, 1548px 1304px #d82a79,
        708px 170px #d82a79, 424px 1769px #d82a79, 1604px 1731px #d82a79,
        916px 1382px #d82a79, 658px 1482px #d82a79, 662px 1969px #d82a79,
        179px 1800px #d82a79, 1459px 1041px #d82a79, 642px 1215px #d82a79,
        1160px 1492px #d82a79, 159px 1234px #d82a79, 1702px 1087px #d82a79,
        691px 1884px #d82a79, 1983px 1799px #d82a79, 1344px 1824px #d82a79,
        269px 23px #d82a79, 1666px 210px #d82a79, 928px 1111px #d82a79,
        257px 44px #d82a79, 43px 227px #d82a79, 394px 1999px #d82a79,
        906px 1542px #d82a79, 1661px 290px #d82a79, 621px 1649px #d82a79,
        1917px 1613px #d82a79, 1389px 1217px #d82a79, 673px 781px #d82a79,
        1736px 756px #d82a79, 492px 1651px #d82a79, 1490px 574px #d82a79,
        1700px 1528px #d82a79, 5px 537px #d82a79, 1924px 1935px #d82a79,
        688px 1270px #d82a79, 1422px 488px #d82a79, 408px 190px #d82a79,
        1307px 326px #d82a79, 1414px 1235px #d82a79, 572px 1043px #d82a79,
        1328px 670px #d82a79, 223px 1305px #d82a79, 1929px 1852px #d82a79,
        1701px 179px #d82a79, 54px 209px #d82a79, 1487px 1103px #d82a79,
        884px 360px #d82a79, 471px 1001px #d82a79, 614px 1967px #d82a79,
        1673px 273px #d82a79, 1342px 1505px #d82a79, 809px 272px #d82a79,
        460px 591px #d82a79, 660px 350px #d82a79, 892px 1842px #d82a79,
        1216px 423px #d82a79, 951px 156px #d82a79, 1397px 669px #d82a79,
        1624px 1497px #d82a79, 625px 1717px #d82a79, 1294px 1495px #d82a79,
        608px 705px #d82a79, 1019px 1645px #d82a79, 1969px 1865px #d82a79,
        732px 1949px #d82a79, 1705px 1424px #d82a79, 727px 1557px #d82a79,
        285px 1651px #d82a79, 952px 597px #d82a79, 638px 232px #d82a79,
        766px 1427px #d82a79, 1503px 608px #d82a79, 1087px 1235px #d82a79,
        1263px 1523px #d82a79, 1378px 342px #d82a79, 423px 1962px #d82a79,
        1353px 978px #d82a79, 772px 299px #d82a79, 22px 1239px #d82a79,
        1737px 1664px #d82a79, 1459px 1718px #d82a79, 1718px 1421px #d82a79,
        1070px 1893px #d82a79, 1713px 1988px #d82a79, 725px 65px #d82a79,
        584px 1882px #d82a79, 697px 767px #d82a79, 119px 1111px #d82a79,
        1146px 833px #d82a79, 517px 696px #d82a79, 1959px 821px #d82a79,
        1312px 1130px #d82a79, 580px 1715px #d82a79, 932px 1179px #d82a79,
        1601px 588px #d82a79, 156px 1679px #d82a79, 90px 181px #d82a79,
        1806px 1961px #d82a79, 1983px 849px #d82a79, 1915px 367px #d82a79,
        337px 1805px #d82a79, 946px 197px #d82a79, 985px 1566px #d82a79,
        1314px 590px #d82a79, 1887px 1622px #d82a79, 976px 568px #d82a79,
        985px 850px #d82a79, 40px 1635px #d82a79, 767px 1489px #d82a79,
        612px 457px #d82a79, 1506px 79px #d82a79, 1827px 36px #d82a79,
        329px 1648px #d82a79, 639px 664px #d82a79, 772px 650px #d82a79,
        772px 1635px #d82a79, 1050px 1929px #d82a79, 1831px 327px #d82a79,
        156px 1237px #d82a79, 54px 331px #d82a79, 1605px 525px #d82a79,
        1319px 1164px #d82a79, 207px 996px #d82a79, 1399px 179px #d82a79,
        779px 1029px #d82a79, 1710px 1708px #d82a79, 156px 1895px #d82a79,
        454px 751px #d82a79, 502px 1202px #d82a79, 1161px 621px #d82a79,
        1704px 1690px #d82a79, 1006px 100px #d82a79, 353px 1048px #d82a79,
        24px 1248px #d82a79, 1028px 306px #d82a79, 822px 882px #d82a79,
        482px 1785px #d82a79, 62px 265px #d82a79, 1607px 1347px #d82a79,
        99px 1234px #d82a79, 133px 469px #d82a79, 884px 402px #d82a79,
        1602px 1415px #d82a79, 1169px 1837px #d82a79, 1516px 177px #d82a79,
        1385px 451px #d82a79, 128px 1492px #d82a79, 362px 1501px #d82a79,
        1719px 681px #d82a79, 410px 558px #d82a79, 1239px 1749px #d82a79,
        1927px 576px #d82a79, 1255px 1964px #d82a79, 399px 142px #d82a79,
        760px 780px #d82a79, 771px 865px #d82a79, 794px 66px #d82a79,
        598px 1887px #d82a79, 1616px 1071px #d82a79, 193px 1564px #d82a79,
        888px 39px #d82a79, 773px 1596px #d82a79, 76px 1272px #d82a79,
        1160px 1057px #d82a79, 1436px 766px #d82a79, 132px 564px #d82a79,
        1881px 1232px #d82a79, 1001px 1455px #d82a79, 48px 772px #d82a79,
        1886px 528px #d82a79, 932px 546px #d82a79, 769px 1727px #d82a79,
        1184px 166px #d82a79, 468px 608px #d82a79, 1581px 94px #d82a79,
        1406px 123px #d82a79, 1769px 700px #d82a79, 790px 1354px #d82a79,
        1665px 1903px #d82a79, 1130px 1040px #d82a79, 1147px 877px #d82a79,
        1996px 1801px #d82a79, 1943px 1363px #d82a79, 91px 1136px #d82a79,
        1554px 1684px #d82a79, 409px 1984px #d82a79, 1037px 1481px #d82a79,
        934px 1053px #d82a79, 452px 864px #d82a79, 640px 1916px #d82a79,
        1569px 1859px #d82a79, 1300px 1041px #d82a79, 365px 1871px #d82a79,
        1841px 1797px #d82a79, 1573px 161px #d82a79, 405px 1933px #d82a79,
        289px 680px #d82a79, 452px 1064px #d82a79, 1728px 1107px #d82a79,
        469px 1563px #d82a79, 1736px 1830px #d82a79, 702px 1586px #d82a79,
        1286px 362px #d82a79, 685px 139px #d82a79, 1269px 382px #d82a79,
        907px 227px #d82a79, 854px 484px #d82a79, 1449px 1320px #d82a79,
        400px 109px #d82a79, 1907px 1989px #d82a79, 1625px 93px #d82a79,
        1942px 1345px #d82a79, 810px 944px #d82a79, 1807px 1180px #d82a79,
        62px 1070px #d82a79, 484px 850px #d82a79, 574px 1262px #d82a79,
        899px 51px #d82a79, 1494px 1607px #d82a79, 735px 1761px #d82a79,
        723px 34px #d82a79, 873px 242px #d82a79, 1308px 1735px #d82a79,
        806px 1605px #d82a79, 1431px 750px #d82a79, 1549px 1117px #d82a79,
        663px 825px #d82a79, 1194px 406px #d82a79, 808px 667px #d82a79,
        830px 1416px #d82a79, 1023px 506px #d82a79, 1297px 312px #d82a79,
        131px 139px #d82a79, 731px 1792px #d82a79, 1319px 875px #d82a79,
        1994px 1375px #d82a79, 584px 1592px #d82a79, 1871px 1798px #d82a79,
        1842px 1394px #d82a79, 438px 295px #d82a79, 612px 1477px #d82a79,
        595px 180px #d82a79, 44px 481px #d82a79, 1882px 1447px #d82a79,
        493px 806px #d82a79, 1595px 1024px #d82a79, 277px 1756px #d82a79,
        1745px 322px #d82a79, 908px 447px #d82a79, 1259px 101px #d82a79,
        1450px 1297px #d82a79, 528px 324px #d82a79, 1285px 612px #d82a79,
        1154px 1208px #d82a79, 1048px 1588px #d82a79, 1105px 1439px #d82a79,
        408px 900px #d82a79;
}

.stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
        273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5,
        413px 31px #1d92d5, 980px 1183px #1d92d5, 1501px 1031px #1d92d5,
        537px 1479px #1d92d5, 54px 1912px #1d92d5, 757px 166px #1d92d5,
        1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
        1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5,
        291px 1691px #1d92d5, 1241px 209px #1d92d5, 1523px 989px #1d92d5,
        1257px 1739px #1d92d5, 678px 1344px #1d92d5, 1689px 712px #1d92d5,
        1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
        198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5,
        472px 964px #1d92d5, 388px 1572px #1d92d5, 970px 1090px #1d92d5,
        1375px 119px #1d92d5, 1062px 631px #1d92d5, 137px 19px #1d92d5,
        1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
        1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5,
        1053px 1269px #1d92d5, 688px 906px #1d92d5, 1475px 750px #1d92d5,
        1907px 1150px #1d92d5, 1863px 221px #1d92d5, 102px 1653px #1d92d5,
        207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
        745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5,
        1641px 1133px #1d92d5, 1796px 246px #1d92d5, 271px 1536px #1d92d5,
        1403px 591px #1d92d5, 1719px 178px #1d92d5, 1361px 1124px #1d92d5,
        1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
        209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5,
        244px 1877px #1d92d5, 1646px 638px #1d92d5, 1586px 922px #1d92d5,
        1443px 1206px #1d92d5, 49px 221px #1d92d5, 462px 1426px #1d92d5,
        1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
        185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5,
        1744px 377px #1d92d5, 1280px 1842px #1d92d5, 1524px 930px #1d92d5,
        137px 190px #1d92d5, 1128px 207px #1d92d5, 274px 436px #1d92d5,
        1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
        596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5,
        848px 1254px #1d92d5, 763px 1967px #1d92d5, 179px 918px #1d92d5,
        941px 1422px #1d92d5, 1411px 1300px #1d92d5, 460px 240px #1d92d5,
        345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
        1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5,
        862px 161px #1d92d5, 1113px 1069px #1d92d5, 277px 456px #1d92d5,
        675px 1294px #1d92d5, 1699px 259px #1d92d5, 1534px 1124px #1d92d5,
        450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
        962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5,
        1598px 1119px #1d92d5, 1896px 883px #1d92d5, 1048px 729px #1d92d5,
        1974px 660px #1d92d5, 201px 1009px #1d92d5, 1184px 68px #1d92d5,
        1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
        977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5,
        481px 733px #1d92d5, 1155px 922px #1d92d5, 605px 676px #1d92d5,
        267px 434px #1d92d5, 542px 1038px #1d92d5, 1198px 49px #1d92d5,
        388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
        1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5,
        1762px 1292px #1d92d5, 1742px 1365px #1d92d5, 1380px 1569px #1d92d5,
        1558px 55px #1d92d5, 372px 777px #1d92d5, 1315px 927px #1d92d5,
        581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
        1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5,
        449px 889px #1d92d5, 123px 1348px #1d92d5, 227px 815px #1d92d5,
        711px 1757px #1d92d5, 1061px 1352px #1d92d5, 1809px 1491px #1d92d5,
        783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
        1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5,
        895px 1228px #1d92d5, 1168px 1636px #1d92d5, 1364px 1607px #1d92d5,
        1748px 232px #1d92d5, 1785px 1366px #1d92d5, 1850px 1571px #1d92d5,
        1896px 1525px #1d92d5, 30px 817px #1d92d5, 374px 1678px #1d92d5,
        1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
        1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5,
        1190px 362px #1d92d5, 570px 1458px #1d92d5, 1931px 609px #1d92d5,
        1705px 711px #1d92d5, 366px 902px #1d92d5, 546px 1977px #1d92d5,
        348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
        1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5,
        1px 1104px #1d92d5, 26px 367px #1d92d5, 846px 955px #1d92d5,
        1677px 426px #1d92d5, 707px 1819px #1d92d5, 545px 1195px #1d92d5,
        960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
        1468px 654px #1d92d5, 1898px 655px #1d92d5;
    animation: animStar 100s linear infinite;
}

.stars2:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
        273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5,
        413px 31px #1d92d5, 980px 1183px #1d92d5, 1501px 1031px #1d92d5,
        537px 1479px #1d92d5, 54px 1912px #1d92d5, 757px 166px #1d92d5,
        1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
        1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5,
        291px 1691px #1d92d5, 1241px 209px #1d92d5, 1523px 989px #1d92d5,
        1257px 1739px #1d92d5, 678px 1344px #1d92d5, 1689px 712px #1d92d5,
        1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
        198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5,
        472px 964px #1d92d5, 388px 1572px #1d92d5, 970px 1090px #1d92d5,
        1375px 119px #1d92d5, 1062px 631px #1d92d5, 137px 19px #1d92d5,
        1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
        1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5,
        1053px 1269px #1d92d5, 688px 906px #1d92d5, 1475px 750px #1d92d5,
        1907px 1150px #1d92d5, 1863px 221px #1d92d5, 102px 1653px #1d92d5,
        207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
        745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5,
        1641px 1133px #1d92d5, 1796px 246px #1d92d5, 271px 1536px #1d92d5,
        1403px 591px #1d92d5, 1719px 178px #1d92d5, 1361px 1124px #1d92d5,
        1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
        209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5,
        244px 1877px #1d92d5, 1646px 638px #1d92d5, 1586px 922px #1d92d5,
        1443px 1206px #1d92d5, 49px 221px #1d92d5, 462px 1426px #1d92d5,
        1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
        185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5,
        1744px 377px #1d92d5, 1280px 1842px #1d92d5, 1524px 930px #1d92d5,
        137px 190px #1d92d5, 1128px 207px #1d92d5, 274px 436px #1d92d5,
        1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
        596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5,
        848px 1254px #1d92d5, 763px 1967px #1d92d5, 179px 918px #1d92d5,
        941px 1422px #1d92d5, 1411px 1300px #1d92d5, 460px 240px #1d92d5,
        345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
        1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5,
        862px 161px #1d92d5, 1113px 1069px #1d92d5, 277px 456px #1d92d5,
        675px 1294px #1d92d5, 1699px 259px #1d92d5, 1534px 1124px #1d92d5,
        450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
        962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5,
        1598px 1119px #1d92d5, 1896px 883px #1d92d5, 1048px 729px #1d92d5,
        1974px 660px #1d92d5, 201px 1009px #1d92d5, 1184px 68px #1d92d5,
        1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
        977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5,
        481px 733px #1d92d5, 1155px 922px #1d92d5, 605px 676px #1d92d5,
        267px 434px #1d92d5, 542px 1038px #1d92d5, 1198px 49px #1d92d5,
        388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
        1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5,
        1762px 1292px #1d92d5, 1742px 1365px #1d92d5, 1380px 1569px #1d92d5,
        1558px 55px #1d92d5, 372px 777px #1d92d5, 1315px 927px #1d92d5,
        581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
        1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5,
        449px 889px #1d92d5, 123px 1348px #1d92d5, 227px 815px #1d92d5,
        711px 1757px #1d92d5, 1061px 1352px #1d92d5, 1809px 1491px #1d92d5,
        783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
        1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5,
        895px 1228px #1d92d5, 1168px 1636px #1d92d5, 1364px 1607px #1d92d5,
        1748px 232px #1d92d5, 1785px 1366px #1d92d5, 1850px 1571px #1d92d5,
        1896px 1525px #1d92d5, 30px 817px #1d92d5, 374px 1678px #1d92d5,
        1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
        1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5,
        1190px 362px #1d92d5, 570px 1458px #1d92d5, 1931px 609px #1d92d5,
        1705px 711px #1d92d5, 366px 902px #1d92d5, 546px 1977px #1d92d5,
        348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
        1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5,
        1px 1104px #1d92d5, 26px 367px #1d92d5, 846px 955px #1d92d5,
        1677px 426px #1d92d5, 707px 1819px #1d92d5, 545px 1195px #1d92d5,
        960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
        1468px 654px #1d92d5, 1898px 655px #1d92d5;
}

.stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1209px 145px #7a55d8, 84px 980px #7a55d8, 1623px 187px #7a55d8,
        586px 1271px #7a55d8, 159px 846px #7a55d8, 476px 1621px #7a55d8,
        449px 466px #7a55d8, 99px 1420px #7a55d8, 19px 457px #7a55d8,
        466px 580px #7a55d8, 1395px 1953px #7a55d8, 859px 1355px #7a55d8,
        1040px 1584px #7a55d8, 713px 165px #7a55d8, 645px 120px #7a55d8,
        1264px 589px #7a55d8, 1766px 995px #7a55d8, 614px 719px #7a55d8,
        717px 1001px #7a55d8, 174px 1683px #7a55d8, 338px 595px #7a55d8,
        1892px 1897px #7a55d8, 1111px 200px #7a55d8, 444px 645px #7a55d8,
        458px 1233px #7a55d8, 999px 1781px #7a55d8, 1771px 1243px #7a55d8,
        595px 744px #7a55d8, 622px 190px #7a55d8, 469px 1066px #7a55d8,
        1358px 1374px #7a55d8, 1598px 264px #7a55d8, 1435px 407px #7a55d8,
        1455px 1901px #7a55d8, 713px 1378px #7a55d8, 187px 281px #7a55d8,
        408px 1354px #7a55d8, 1834px 1071px #7a55d8, 486px 1125px #7a55d8,
        1195px 118px #7a55d8, 192px 1646px #7a55d8, 10px 380px #7a55d8,
        1199px 291px #7a55d8, 1893px 1488px #7a55d8, 1651px 731px #7a55d8,
        199px 571px #7a55d8, 942px 1470px #7a55d8, 574px 1918px #7a55d8,
        1691px 1705px #7a55d8, 1562px 474px #7a55d8, 507px 1957px #7a55d8,
        37px 507px #7a55d8, 1999px 1413px #7a55d8, 1446px 784px #7a55d8,
        522px 1982px #7a55d8, 1317px 1758px #7a55d8, 1966px 1425px #7a55d8,
        212px 971px #7a55d8, 138px 745px #7a55d8, 1619px 582px #7a55d8,
        119px 1542px #7a55d8, 583px 648px #7a55d8, 953px 1994px #7a55d8,
        629px 1637px #7a55d8, 1502px 1676px #7a55d8, 849px 981px #7a55d8,
        1649px 16px #7a55d8, 1696px 1786px #7a55d8, 1214px 498px #7a55d8,
        1250px 1051px #7a55d8, 108px 1669px #7a55d8, 1443px 542px #7a55d8,
        857px 473px #7a55d8, 474px 994px #7a55d8, 527px 167px #7a55d8,
        1589px 1523px #7a55d8, 322px 461px #7a55d8, 628px 1200px #7a55d8,
        1983px 348px #7a55d8, 1863px 823px #7a55d8, 1905px 959px #7a55d8,
        1558px 241px #7a55d8, 1017px 1571px #7a55d8, 1564px 659px #7a55d8,
        1px 1624px #7a55d8, 729px 1069px #7a55d8, 1923px 1291px #7a55d8,
        503px 441px #7a55d8, 704px 1026px #7a55d8, 938px 1796px #7a55d8,
        998px 927px #7a55d8, 590px 268px #7a55d8, 474px 428px #7a55d8,
        380px 44px #7a55d8, 1220px 1463px #7a55d8, 1843px 1947px #7a55d8,
        524px 1235px #7a55d8, 1512px 560px #7a55d8, 1598px 1369px #7a55d8,
        1600px 1375px #7a55d8;
    animation: animStar 150s linear infinite;
}

.stars3:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1209px 145px #7a55d8, 84px 980px #7a55d8, 1623px 187px #7a55d8,
        586px 1271px #7a55d8, 159px 846px #7a55d8, 476px 1621px #7a55d8,
        449px 466px #7a55d8, 99px 1420px #7a55d8, 19px 457px #7a55d8,
        466px 580px #7a55d8, 1395px 1953px #7a55d8, 859px 1355px #7a55d8,
        1040px 1584px #7a55d8, 713px 165px #7a55d8, 645px 120px #7a55d8,
        1264px 589px #7a55d8, 1766px 995px #7a55d8, 614px 719px #7a55d8,
        717px 1001px #7a55d8, 174px 1683px #7a55d8, 338px 595px #7a55d8,
        1892px 1897px #7a55d8, 1111px 200px #7a55d8, 444px 645px #7a55d8,
        458px 1233px #7a55d8, 999px 1781px #7a55d8, 1771px 1243px #7a55d8,
        595px 744px #7a55d8, 622px 190px #7a55d8, 469px 1066px #7a55d8,
        1358px 1374px #7a55d8, 1598px 264px #7a55d8, 1435px 407px #7a55d8,
        1455px 1901px #7a55d8, 713px 1378px #7a55d8, 187px 281px #7a55d8,
        408px 1354px #7a55d8, 1834px 1071px #7a55d8, 486px 1125px #7a55d8,
        1195px 118px #7a55d8, 192px 1646px #7a55d8, 10px 380px #7a55d8,
        1199px 291px #7a55d8, 1893px 1488px #7a55d8, 1651px 731px #7a55d8,
        199px 571px #7a55d8, 942px 1470px #7a55d8, 574px 1918px #7a55d8,
        1691px 1705px #7a55d8, 1562px 474px #7a55d8, 507px 1957px #7a55d8,
        37px 507px #7a55d8, 1999px 1413px #7a55d8, 1446px 784px #7a55d8,
        522px 1982px #7a55d8, 1317px 1758px #7a55d8, 1966px 1425px #7a55d8,
        212px 971px #7a55d8, 138px 745px #7a55d8, 1619px 582px #7a55d8,
        119px 1542px #7a55d8, 583px 648px #7a55d8, 953px 1994px #7a55d8,
        629px 1637px #7a55d8, 1502px 1676px #7a55d8, 849px 981px #7a55d8,
        1649px 16px #7a55d8, 1696px 1786px #7a55d8, 1214px 498px #7a55d8,
        1250px 1051px #7a55d8, 108px 1669px #7a55d8, 1443px 542px #7a55d8,
        857px 473px #7a55d8, 474px 994px #7a55d8, 527px 167px #7a55d8,
        1589px 1523px #7a55d8, 322px 461px #7a55d8, 628px 1200px #7a55d8,
        1983px 348px #7a55d8, 1863px 823px #7a55d8, 1905px 959px #7a55d8,
        1558px 241px #7a55d8, 1017px 1571px #7a55d8, 1564px 659px #7a55d8,
        1px 1624px #7a55d8, 729px 1069px #7a55d8, 1923px 1291px #7a55d8,
        503px 441px #7a55d8, 704px 1026px #7a55d8, 938px 1796px #7a55d8,
        998px 927px #7a55d8, 590px 268px #7a55d8, 474px 428px #7a55d8,
        380px 44px #7a55d8, 1220px 1463px #7a55d8, 1843px 1947px #7a55d8,
        524px 1235px #7a55d8, 1512px 560px #7a55d8, 1598px 1369px #7a55d8,
        1600px 1375px #7a55d8;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}


/* 4K Screens */
@media screen and (min-width: 2000px) {
    .background {
        font-size: 8.5rem;
    }

    .content {
        padding: 0 3rem;
    }

    .name {
        font-size: 6rem;
    }

    .bio {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    .button {
        font-size: 2rem;
    }


    .outlined {
        font-size: 2rem;
    }

    .illustration {
        height: 900px;
        width: 700px;

    }

    .galaxia {
        height: 900px;
        width: 700px;

    }

}

/* iPad Pro */
@media screen and (max-width: 1100px) {
    .background {
        display: none;

    }

    .container {
        display: block;
    }

    .foreground {
        margin: 4rem 0;
        display: block;
        text-align: center;
    }

    .name {
        font-size: 4rem;
    }

    .bio {
        font-size: 1.75rem;
        margin: 0.75rem auto 3rem;
    }

    .illustration {
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 700px;
        width: 600px;
    }

    .galaxia {
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 700px;
        width: 600px;
    }
}

/* iPad */
@media screen and (max-width: 900px) {
    .foreground {
        margin: 2rem 0;
    }

    .name {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .bio {
        font-size: 1.5rem;
    }

    .illustration {
        height: 500px;
        width: 320px;
        bottom: -50px;
    }

    .galaxia {
        height: 500px;
        width: 320px;
        bottom: -50px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
    .container {
        display: flex;
    }

    .illustration {
        display: none;
    }

    .galaxia {
        display: none;
    }
}

/* Phone */
@media screen and (max-width: 600px) {

    .foreground {
        margin: 0;
    }

    .name {
        font-size: 2rem;
    }

    .bio {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .button {
        font-size: 1rem;
    }

    .outlined {
        font-size: 1rem;
    }

    .galaxia {
        position: absolute;
        bottom: 0;
        right: 65px;
        width: 65vw;
        height: 39vh;
        z-index: 1;
    }
}