.container {

    width: 300px;
    height: 150px;
    overflow: hidden;
}

.stars {
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
        100px 80px white,
        80px 120px white,
        300px 20px white,
        250px 130px white,
        200px 50px white,
        150px 100px white,
        320px 100px white;
    animation: anim-stars 10s linear infinite;
}

.stars::after {
    content: " ";
    position: absolute;
    top: 150px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
        100px 80px white,
        80px 120px white,
        300px 20px white,
        250px 130px white,
        200px 50px white,
        150px 100px white,
        320px 100px white;
}

.stars2 {
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
        125px 35px white,
        50px 80px white,
        10px 120px white,
        275px 90px white,
        230px 10px white,
        120px 130px white,
        300px 130px white,
        220px 115px white;
    animation: anim-stars 20s linear infinite;
}

.stars2::after {
    content: " ";
    position: absolute;
    top: 150px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
        125px 35px white,
        50px 80px white,
        10px 120px white,
        275px 90px white,
        230px 10px white,
        120px 130px white,
        300px 130px white,
        220px 115px white;
}


@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-150px);
    }
}

/* 4K Screens */
@media screen and (min-width: 2000px) {
    .background {
        font-size: 8.5rem;
    }

    .content {
        padding: 0 3rem;
    }

    .name {
        font-size: 6rem;
    }

    .bio {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    .button {
        font-size: 2rem;
    }


    .outlined {
        font-size: 2rem;
    }

    .illustration {
        height: 900px;
        width: 700px;

    }
}

/* iPad Pro */
@media screen and (max-width: 1100px) {
    .background {
        display: none;

    }

    .container {
        display: block;
    }

    .foreground {
        margin: 4rem 0;
        display: block;
        text-align: center;
    }

    .name {
        font-size: 4rem;
    }

    .bio {
        font-size: 1.75rem;
        margin: 0.75rem auto 3rem;
    }

    .illustration {
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 700px;
        width: 600px;
    }
}

/* iPad */
@media screen and (max-width: 900px) {
    .foreground {
        margin: 2rem 0;
    }

    .name {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .bio {
        font-size: 1.5rem;
    }

    .illustration {
        height: 500px;
        width: 320px;
        bottom: -50px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
    .container {
        display: flex;
    }

    .illustration {
        display: none;
    }
}

/* Phone */
@media screen and (max-width: 600px) {

    .foreground {
        margin: 0;
    }

    .name {
        font-size: 2rem;
    }

    .bio {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .button {
        font-size: 1rem;
    }

    .outlined {
        font-size: 1rem;
    }

    .container {
        position: absolute;
        bottom: 0;
        right: 65px;
        width: 65vw;
        height: 33vh;
        z-index: 1;
    }
}
