@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.container {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
  position: relative;
}

.background {
  font-size: 5rem;
  font-family: 'Montserrat';
  line-height: 1.1;
  color: var(--bg-text);
  position: absolute;
}

.foreground {

  display: flex;
  color: var(--accent-color);
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #eee;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  background-image: url("https://media0.giphy.com/media/YqhIK6Gbor6CLeloBq/200w.gif?cid=6c09b95269ulypnl10lyzzfv53va8nfc7oys3nhvxdvhtz30&rid=200w.gif&ct=g");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

/*transicao de cor */
.name:hover {
  cursor: pointer;
  color: rgba(113, 17, 245);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transition: color 2s;
  background-image: url("https://i.pinimg.com/originals/8a/7c/2c/8a7c2cece42cd158a110d9bb26ca938a.gif");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* cursor  */

/* efeito astronalta roxo */
.name span {
  color: #9B8DA2;
}

/*translation astronaultao lado do nome*/
.name span:hover {
  color: rgb(191, 64, 64);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transition: color 4s,
}

/*text shadown transicao front-end */
.bio {
  text-shadow: 0px 0px 10px rgba(113, 17, 245);

  -webkit-text-shadow: 0px 0px 10px rgba(113, 17, 245);

  -moz-text-shadow: 0px 0px 10px rgba(113, 17, 245);

  -ms-text-shadow: 0px 0px 10px rgba(113, 17, 245);

  -o-text-shadow: 0px 0px 10px rgba(113, 17, 245);
}

.bio {
  width: max-content;
  color: #eee;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  position: relative;
}

.bio::before,
.bio::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bio::before {
  background: var(--main-bg);
  animation: typewriter 2.5s steps(24) 500ms forwards;
}

.bio::after {
  margin-left: 0.4rem;
  width: 0.125em;
  background: rgba(113, 17, 245);
  animation: typewriter 2.5s steps(24) 500ms forwards,
    blink 750ms steps(24) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/*transicao de cor */
.bio:hover {
  cursor: pointer;
  color: rgba(113, 17, 245);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transition: color 2s;
}

/* botoes gostosos */
.button {
  background: rgb(155, 141, 162);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  color: #371B45;
  font-weight: 600;
  border-radius: 0px 100px 0px 100px;
  cursor: pointer;
  box-shadow: 0 0 30px 5px rgba(113, 17, 245);
  -webkit-transition: all 01s ease-out;
  -moz-transition: all 01s ease-out;
  transition: all 01s ease-out;
  transition: color 1s, background 2s;
  position: relative;

}

.outlined {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: rgba(113, 17, 245);
  border: 2px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
  border-radius: 0px 100px 0px 100px;
  position: relative;
}
.button:hover{
  color: rgb(255, 202, 40);
    border: 2px solid rgb(191, 64, 64);
    background: rgb(255, 87, 34);
    box-shadow: 0 0 30px 5px rgb(191, 64, 64);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    transition: color 1s, background 2s;
  }

.outlined:hover {

  color: rgb(255, 202, 40);
  border: 2px solid rgb(191, 64, 64);
  background-image: url("https://media.tenor.com/deHNDV19AgQAAAAC/galaxy.gif");
  box-shadow: 0 0 30px 5px rgb(191, 64, 64);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transition: color 1s, background 2s;
  position: relative;

}

.illustration {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: round;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-50px)
  }

  100% {
    transform: translateY(0)
  }
}

/* astronalta fade color */
.illustration span {
  background: linear-gradient(#1497be, #1c2aec);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: text 50s linear infinite;

}

@keyframes text {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/* teste 999 */

/* 4K Screens */
@media screen and (min-width: 2000px) {
  .background {
    font-size: 8.5rem;
  }

  .content {
    padding: 0 3rem;
  }

  .name {
    z-index: 1;
    font-size: 6rem;
  }

  .bio {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .button {
    font-size: 2rem;
  }


  .outlined {
    font-size: 2rem;
  }

  .illustration {
    height: 900px;
    width: 700px;

  }

}

/* iPad Pro */
@media screen and (max-width: 1100px) {
  .background {
    display: none;

  }

  .container {
    display: block;
  }

  .foreground {
    margin: 4rem 0;
    display: block;
    text-align: center;
  }

  .name {
    z-index: 1;
    font-size: 4rem;
  }

  .bio {
    font-size: 1.75rem;
    margin: 0.75rem auto 3rem;
  }

  .illustration {
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 700px;
    width: 300px;
  }
}

/* iPad */
@media screen and (max-width: 900px) {
  .foreground {
    margin: 2rem 0;
  }

  .name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .bio {
    font-size: 1.5rem;
  }

  .illustration {
    height: 500px;
    width: 320px;
    bottom: -50px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
  .container {
    display: flex;
  }

  .illustration {
    display: none;
  }
}

/* Phone */
@media screen and (max-width: 600px) {

  .foreground {
    margin: 0;
  }

  .name {
    font-size: 2rem;
  }

  .bio {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 1rem;
  }

  .outlined {
    font-size: 1rem;
  }

  .illustration {
    position: absolute;
    bottom: 10;
    right: 65px;
    width: 75vw;
    height: 25vh;

  }
}