@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

.main {
  display: flex;
  background: var(--main-bg);
}


.content {
  padding: 2em;
  color: var(--text-color);
  font-family: 'JetBrains Mono', monospace;
  flex: 1;
  height: 85vh;
  overflow-y: auto;
}

.content {
  scrollbar-width: 10px;
  scrollbar-color: var(--accent-color);
}

.content::-webkit-scrollbar {
  width: 15px;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-left: 1px solid #1e1f29;
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-left: 1px solid #1e1f29;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 2em 1em;
  }
}

/*sistem sun  */

.sun {
  width: 35px;
  height: 35px;
  background-image: radial-gradient(rgb(226, 9, 9), rgb(255, 166, 0), rgb(196, 69, 29));
  filter: blur(4px);
  border-radius: 50px;
  position: absolute;
  display: block;
  top: 130px;
  left: 322px;
}

.sunshine {
  width: 90px;
  height: 90px;
  background-image: radial-gradient(rgb(230, 255, 1), rgb(255, 166, 0), rgb(128, 105, 0));
  filter: blur(40px);
  border-radius: 50px;
  position: absolute;
  display: block;
  top: 62px;
  left: 65px;
  animation: animate 3.5s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  90% {
    transform: scale(3);
    opacity: 0.3;
  }
  100% {
    transform: scale(4);
    opacity: 0.1;
  }
}

/*.sun2 {
  width: 35px;
  height: 35px;
  background-image: radial-gradient(rgb(255, 166, 0), rgb(196, 69, 29));
  filter: blur(4px);
  border-radius: 50px;
  position: absolute;
  display: block;
  top: 130px;
  left: 322px;
  animation: sun2 3.5s linear infinite;
  animation-delay: calc(-2.5s * var(--i));
}

@keyframes sun2 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  90% {
    transform: scale(3);
    opacity: 0.5;
  }
  100% {
    transform: scale(4);
    opacity: 0.1;
  }
} */

/* progress */

/*earth*/
.terra {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: url(https://ithoughthecamewithyou.com/image.axd?picture=Animation-of-a-year-of-Global-Cloud-Cover-2.png); 
  background-size: cover;
  box-shadow: -20px -20px 30px black inset, 8px 8px 10px white inset, 0px 0px 20px #3a96ff;
  animation: animateEarth 80s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 359.8%;
  }
}

/* mars */

.mars {
  position: absolute;
  top: 30%;
  left: 76%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url(https://p0.pikist.com/photos/782/715/map-mars-planet-red-ice-desert-world.jpg); 
  background-size: cover;
  box-shadow: -8px -9px 18px black inset, 3px 3px 8px white inset, 0px 0px 9px  orangered;
  animation: MarsRotate 100s linear infinite;
}

@keyframes MarsRotate {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 359.8%;
  }
}

/* codigo iniciacao */

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1631px 365px #D63C4D, 756px 1915px #D63C4D, 954px 1389px #D63C4D,
    1097px 317px #D63C4D, 773px 777px #D63C4D, 1442px 341px #D63C4D,
    431px 670px #D63C4D, 578px 1244px #D63C4D, 420px 1296px #D63C4D,
    1345px 490px #D63C4D, 895px 1179px #D63C4D, 181px 347px #D63C4D,
    1261px 751px #D63C4D, 1092px 1531px #D63C4D, 623px 1253px #D63C4D,
    736px 1277px #D63C4D, 928px 1216px #D63C4D, 1972px 879px #D63C4D,
    1101px 1563px #D63C4D, 1264px 1351px #D63C4D, 1448px 1269px #D63C4D,
    680px 1151px #D63C4D, 390px 838px #D63C4D, 64px 1036px #D63C4D,
    1098px 722px #D63C4D, 1226px 1434px #D63C4D, 591px 791px #D63C4D,
    1405px 1499px #D63C4D, 80px 1158px #D63C4D, 788px 1973px #D63C4D,
    1849px 1025px #D63C4D, 816px 732px #D63C4D, 1624px 1116px #D63C4D,
    1724px 361px #D63C4D, 722px 904px #D63C4D, 1709px 1276px #D63C4D,
    637px 1228px #D63C4D, 707px 1915px #D63C4D, 427px 97px #D63C4D,
    1726px 1128px #D63C4D, 957px 1343px #D63C4D, 1994px 1341px #D63C4D,
    1420px 845px #D63C4D, 140px 1250px #D63C4D, 807px 225px #D63C4D,
    653px 1966px #D63C4D, 863px 1515px #D63C4D, 1389px 1510px #D63C4D,
    1116px 1324px #D63C4D, 994px 1012px #D63C4D, 905px 837px #D63C4D,
    1039px 818px #D63C4D, 1131px 987px #D63C4D, 833px 415px #D63C4D,
    1718px 1047px #D63C4D, 1339px 1153px #D63C4D, 1142px 682px #D63C4D,
    935px 1711px #D63C4D, 1044px 510px #D63C4D, 1330px 1422px #D63C4D,
    1348px 765px #D63C4D, 543px 1617px #D63C4D, 818px 578px #D63C4D,
    1719px 1678px #D63C4D, 456px 1539px #D63C4D, 671px 1707px #D63C4D,
    379px 329px #D63C4D, 1319px 1703px #D63C4D, 761px 1949px #D63C4D,
    1949px 605px #D63C4D, 1070px 1362px #D63C4D, 668px 254px #D63C4D,
    257px 418px #D63C4D, 763px 1674px #D63C4D, 1057px 862px #D63C4D,
    849px 1978px #D63C4D, 1149px 1539px #D63C4D, 322px 1429px #D63C4D,
    523px 618px #D63C4D, 861px 1663px #D63C4D, 1331px 1391px #D63C4D,
    1156px 75px #D63C4D, 108px 1188px #D63C4D, 1322px 870px #D63C4D,
    1504px 865px #D63C4D, 1350px 1700px #D63C4D, 510px 1864px #D63C4D,
    164px 546px #D63C4D, 619px 1483px #D63C4D, 1169px 59px #D63C4D,
    322px 1048px #D63C4D, 149px 1857px #D63C4D, 1867px 1604px #D63C4D,
    1200px 197px #D63C4D, 991px 1145px #D63C4D, 1290px 910px #D63C4D,
    1432px 1360px #D63C4D, 235px 663px #D63C4D, 1799px 1039px #D63C4D,
    1966px 972px #D63C4D, 465px 1169px #D63C4D, 894px 1751px #D63C4D,
    1460px 1945px #D63C4D, 337px 1480px #D63C4D, 442px 1683px #D63C4D,
    1121px 37px #D63C4D, 727px 1248px #D63C4D, 336px 576px #D63C4D,
    448px 852px #D63C4D, 1352px 1028px #D63C4D, 1018px 1308px #D63C4D,
    1997px 1776px #D63C4D, 161px 508px #D63C4D, 1063px 1148px #D63C4D,
    1123px 1253px #D63C4D, 74px 1663px #D63C4D, 557px 140px #D63C4D,
    1791px 1554px #D63C4D, 1201px 723px #D63C4D, 247px 500px #D63C4D,
    1715px 1432px #D63C4D, 967px 833px #D63C4D, 856px 304px #D63C4D,
    1683px 536px #D63C4D, 1200px 1919px #D63C4D, 385px 1835px #D63C4D,
    187px 621px #D63C4D, 918px 1612px #D63C4D, 463px 1539px #D63C4D,
    1692px 552px #D63C4D, 1069px 1359px #D63C4D, 871px 196px #D63C4D,
    1184px 828px #D63C4D, 1125px 1529px #D63C4D, 972px 1644px #D63C4D,
    1177px 519px #D63C4D, 1201px 1271px #D63C4D, 1267px 1385px #D63C4D,
    1728px 168px #D63C4D, 240px 1512px #D63C4D, 89px 807px #D63C4D,
    423px 1223px #D63C4D, 574px 22px #D63C4D, 1592px 400px #D63C4D,
    483px 534px #D63C4D, 1737px 722px #D63C4D, 1572px 1232px #D63C4D,
    1973px 1576px #D63C4D, 1809px 1547px #D63C4D, 728px 972px #D63C4D,
    799px 659px #D63C4D, 566px 1512px #D63C4D, 266px 1726px #D63C4D,
    1881px 1206px #D63C4D, 1484px 940px #D63C4D, 444px 999px #D63C4D,
    1002px 1107px #D63C4D, 1396px 104px #D63C4D, 573px 1349px #D63C4D,
    878px 293px #D63C4D, 1735px 636px #D63C4D, 1902px 548px #D63C4D,
    180px 1251px #D63C4D, 901px 1758px #D63C4D, 398px 1197px #D63C4D,
    1215px 35px #D63C4D, 1884px 99px #D63C4D, 1521px 812px #D63C4D,
    324px 743px #D63C4D, 1399px 559px #D63C4D, 312px 148px #D63C4D,
    834px 722px #D63C4D, 186px 1655px #D63C4D, 1821px 1672px #D63C4D,
    1974px 1870px #D63C4D, 554px 77px #D63C4D, 144px 1483px #D63C4D,
    1746px 501px #D63C4D, 152px 1392px #D63C4D, 1946px 239px #D63C4D,
    1909px 1395px #D63C4D, 1679px 573px #D63C4D, 1630px 1899px #D63C4D,
    1728px 1907px #D63C4D, 1204px 242px #D63C4D, 145px 866px #D63C4D,
    117px 329px #D63C4D, 456px 890px #D63C4D, 1750px 1423px #D63C4D,
    866px 1994px #D63C4D, 1474px 1203px #D63C4D, 1895px 1511px #D63C4D,
    166px 1730px #D63C4D, 321px 1605px #D63C4D, 39px 1154px #D63C4D,
    965px 972px #D63C4D, 206px 415px #D63C4D, 1981px 107px #D63C4D,
    1399px 1057px #D63C4D, 1754px 854px #D63C4D, 1895px 756px #D63C4D,
    680px 1945px #D63C4D, 1732px 1826px #D63C4D, 519px 581px #D63C4D,
    1152px 77px #D63C4D, 1978px 1294px #D63C4D, 1620px 1423px #D63C4D,
    277px 431px #D63C4D, 1216px 1100px #D63C4D, 115px 1977px #D63C4D,
    1146px 267px #D63C4D, 671px 1770px #D63C4D, 884px 812px #D63C4D,
    106px 172px #D63C4D, 1400px 1564px #D63C4D, 1685px 1274px #D63C4D,
    610px 1536px #D63C4D, 1839px 967px #D63C4D, 1860px 1203px #D63C4D,
    1285px 1787px #D63C4D, 1616px 470px #D63C4D, 602px 1760px #D63C4D,
    215px 782px #D63C4D, 1190px 950px #D63C4D, 1988px 562px #D63C4D,
    1154px 310px #D63C4D, 1189px 650px #D63C4D, 312px 1494px #D63C4D,
    823px 348px #D63C4D, 1858px 271px #D63C4D, 489px 1012px #D63C4D,
    458px 1950px #D63C4D, 41px 1799px #D63C4D, 1076px 1875px #D63C4D,
    695px 195px #D63C4D, 28px 48px #D63C4D, 1778px 66px #D63C4D,
    504px 1489px #D63C4D, 1051px 80px #D63C4D, 1406px 1774px #D63C4D,
    1732px 780px #D63C4D, 1118px 853px #D63C4D, 516px 285px #D63C4D,
    1515px 1087px #D63C4D, 889px 1246px #D63C4D, 1313px 1745px #D63C4D,
    505px 1465px #D63C4D, 214px 98px #D63C4D, 1127px 842px #D63C4D,
    1707px 1251px #D63C4D, 1556px 122px #D63C4D, 223px 1098px #D63C4D,
    1169px 182px #D63C4D, 1013px 1982px #D63C4D, 1733px 443px #D63C4D,
    1614px 539px #D63C4D, 1820px 162px #D63C4D, 1247px 811px #D63C4D,
    206px 1923px #D63C4D, 286px 878px #D63C4D, 77px 915px #D63C4D,
    864px 1153px #D63C4D, 1704px 285px #D63C4D, 59px 1983px #D63C4D,
    819px 1133px #D63C4D, 140px 1302px #D63C4D, 320px 1876px #D63C4D,
    951px 1286px #D63C4D, 584px 98px #D63C4D, 1487px 1129px #D63C4D,
    1073px 1973px #D63C4D, 174px 530px #D63C4D, 1461px 35px #D63C4D,
    1413px 905px #D63C4D, 383px 814px #D63C4D, 1150px 306px #D63C4D,
    615px 1682px #D63C4D, 247px 1839px #D63C4D, 1382px 290px #D63C4D,
    1485px 1740px #D63C4D, 901px 1282px #D63C4D, 794px 937px #D63C4D,
    612px 620px #D63C4D, 1017px 250px #D63C4D, 989px 1353px #D63C4D,
    1469px 906px #D63C4D, 1021px 1615px #D63C4D, 1568px 367px #D63C4D,
    1008px 729px #D63C4D, 1751px 1993px #D63C4D, 787px 547px #D63C4D,
    313px 1261px #D63C4D, 1292px 1876px #D63C4D, 1692px 756px #D63C4D,
    821px 157px #D63C4D, 1236px 418px #D63C4D, 1125px 1416px #D63C4D,
    625px 907px #D63C4D, 1817px 1520px #D63C4D, 558px 927px #D63C4D,
    1545px 293px #D63C4D, 1328px 1175px #D63C4D, 845px 1499px #D63C4D,
    1733px 1680px #D63C4D, 150px 1327px #D63C4D, 378px 620px #D63C4D,
    800px 1060px #D63C4D, 1635px 1356px #D63C4D, 164px 1639px #D63C4D,
    424px 269px #D63C4D, 1344px 602px #D63C4D, 1008px 1560px #D63C4D,
    515px 1489px #D63C4D, 1471px 1117px #D63C4D, 1410px 527px #D63C4D,
    387px 1335px #D63C4D, 1160px 1735px #D63C4D, 1375px 1594px #D63C4D,
    1658px 1375px #D63C4D, 216px 302px #D63C4D, 563px 386px #D63C4D,
    1218px 226px #D63C4D, 560px 1359px #D63C4D, 949px 1089px #D63C4D,
    1736px 924px #D63C4D, 1018px 1374px #D63C4D, 934px 1562px #D63C4D,
    1224px 1712px #D63C4D, 559px 1348px #D63C4D, 1123px 218px #D63C4D,
    1073px 937px #D63C4D, 596px 1499px #D63C4D, 913px 951px #D63C4D,
    357px 770px #D63C4D, 495px 335px #D63C4D, 279px 104px #D63C4D,
    758px 1659px #D63C4D, 655px 763px #D63C4D, 1351px 636px #D63C4D,
    1407px 1502px #D63C4D, 661px 688px #D63C4D, 1654px 671px #D63C4D,
    1783px 585px #D63C4D, 372px 304px #D63C4D, 1237px 1519px #D63C4D,
    61px 973px #D63C4D, 905px 331px #D63C4D, 1484px 1224px #D63C4D,
    1500px 1927px #D63C4D, 593px 1262px #D63C4D, 766px 604px #D63C4D,
    730px 247px #D63C4D, 741px 1956px #D63C4D, 672px 609px #D63C4D,
    1192px 1552px #D63C4D, 1382px 1134px #D63C4D, 681px 1090px #D63C4D,
    73px 1777px #D63C4D, 46px 1068px #D63C4D, 199px 88px #D63C4D,
    660px 136px #D63C4D, 437px 1047px #D63C4D, 1157px 709px #D63C4D,
    1424px 252px #D63C4D, 982px 657px #D63C4D, 981px 880px #D63C4D,
    263px 1319px #D63C4D, 1955px 1180px #D63C4D, 1469px 1531px #D63C4D,
    171px 48px #D63C4D, 148px 1050px #D63C4D, 1776px 693px #D63C4D,
    1259px 294px #D63C4D, 738px 1554px #D63C4D, 713px 819px #D63C4D,
    187px 234px #D63C4D, 1665px 1890px #D63C4D, 835px 832px #D63C4D,
    1788px 1265px #D63C4D, 1275px 1181px #D63C4D, 1828px 1404px #D63C4D,
    1285px 857px #D63C4D, 1448px 1477px #D63C4D, 718px 402px #D63C4D,
    265px 1515px #D63C4D, 1067px 1336px #D63C4D, 1236px 142px #D63C4D,
    1266px 94px #D63C4D, 598px 926px #D63C4D, 1327px 21px #D63C4D,
    1670px 630px #D63C4D, 1055px 716px #D63C4D, 396px 1740px #D63C4D,
    984px 1662px #D63C4D, 1793px 661px #D63C4D, 418px 1941px #D63C4D,
    1571px 853px #D63C4D, 977px 269px #D63C4D, 609px 302px #D63C4D,
    671px 1795px #D63C4D, 1898px 1163px #D63C4D, 1534px 483px #D63C4D,
    1041px 1660px #D63C4D, 97px 420px #D63C4D, 1874px 964px #D63C4D,
    895px 747px #D63C4D, 588px 1939px #D63C4D, 1932px 710px #D63C4D,
    1928px 1832px #D63C4D, 491px 1532px #D63C4D, 234px 1628px #D63C4D,
    1877px 1454px #D63C4D, 816px 1479px #D63C4D, 357px 1884px #D63C4D,
    1642px 1762px #D63C4D, 364px 1011px #D63C4D, 1732px 1826px #D63C4D,
    1451px 1008px #D63C4D, 1112px 767px #D63C4D, 1624px 412px #D63C4D,
    1111px 1890px #D63C4D, 734px 1050px #D63C4D, 1917px 1173px #D63C4D,
    394px 1729px #D63C4D, 838px 657px #D63C4D, 16px 564px #D63C4D,
    1342px 1424px #D63C4D, 987px 478px #D63C4D, 349px 1609px #D63C4D,
    850px 179px #D63C4D, 984px 751px #D63C4D, 1549px 1188px #D63C4D,
    297px 260px #D63C4D, 1355px 226px #D63C4D, 385px 1278px #D63C4D,
    678px 1533px #D63C4D, 1481px 1595px #D63C4D, 1449px 27px #D63C4D,
    1480px 828px #D63C4D, 1911px 87px #D63C4D, 923px 182px #D63C4D,
    1652px 1678px #D63C4D, 1340px 1295px #D63C4D, 1548px 1304px #D63C4D,
    708px 170px #D63C4D, 424px 1769px #D63C4D, 1604px 1731px #D63C4D,
    916px 1382px #D63C4D, 658px 1482px #D63C4D, 662px 1969px #D63C4D,
    179px 1800px #D63C4D, 1459px 1041px #D63C4D, 642px 1215px #D63C4D,
    1160px 1492px #D63C4D, 159px 1234px #D63C4D, 1702px 1087px #D63C4D,
    691px 1884px #D63C4D, 1983px 1799px #D63C4D, 1344px 1824px #D63C4D,
    269px 23px #D63C4D, 1666px 210px #D63C4D, 928px 1111px #D63C4D,
    257px 44px #D63C4D, 43px 227px #D63C4D, 394px 1999px #D63C4D,
    906px 1542px #D63C4D, 1661px 290px #D63C4D, 621px 1649px #D63C4D,
    1917px 1613px #D63C4D, 1389px 1217px #D63C4D, 673px 781px #D63C4D,
    1736px 756px #D63C4D, 492px 1651px #D63C4D, 1490px 574px #D63C4D,
    1700px 1528px #D63C4D, 5px 537px #D63C4D, 1924px 1935px #D63C4D,
    688px 1270px #D63C4D, 1422px 488px #D63C4D, 408px 190px #D63C4D,
    1307px 326px #D63C4D, 1414px 1235px #D63C4D, 572px 1043px #D63C4D,
    1328px 670px #D63C4D, 223px 1305px #D63C4D, 1929px 1852px #D63C4D,
    1701px 179px #D63C4D, 54px 209px #D63C4D, 1487px 1103px #D63C4D,
    884px 360px #D63C4D, 471px 1001px #D63C4D, 614px 1967px #D63C4D,
    1673px 273px #D63C4D, 1342px 1505px #D63C4D, 809px 272px #D63C4D,
    460px 591px #D63C4D, 660px 350px #D63C4D, 892px 1842px #D63C4D,
    1216px 423px #D63C4D, 951px 156px #D63C4D, 1397px 669px #D63C4D,
    1624px 1497px #D63C4D, 625px 1717px #D63C4D, 1294px 1495px #D63C4D,
    608px 705px #D63C4D, 1019px 1645px #D63C4D, 1969px 1865px #D63C4D,
    732px 1949px #D63C4D, 1705px 1424px #D63C4D, 727px 1557px #D63C4D,
    285px 1651px #D63C4D, 952px 597px #D63C4D, 638px 232px #D63C4D,
    766px 1427px #D63C4D, 1503px 608px #D63C4D, 1087px 1235px #D63C4D,
    1263px 1523px #D63C4D, 1378px 342px #D63C4D, 423px 1962px #D63C4D,
    1353px 978px #D63C4D, 772px 299px #D63C4D, 22px 1239px #D63C4D,
    1737px 1664px #D63C4D, 1459px 1718px #D63C4D, 1718px 1421px #D63C4D,
    1070px 1893px #D63C4D, 1713px 1988px #D63C4D, 725px 65px #D63C4D,
    584px 1882px #D63C4D, 697px 767px #D63C4D, 119px 1111px #D63C4D,
    1146px 833px #D63C4D, 517px 696px #D63C4D, 1959px 821px #D63C4D,
    1312px 1130px #D63C4D, 580px 1715px #D63C4D, 932px 1179px #D63C4D,
    1601px 588px #D63C4D, 156px 1679px #D63C4D, 90px 181px #D63C4D,
    1806px 1961px #D63C4D, 1983px 849px #D63C4D, 1915px 367px #D63C4D,
    337px 1805px #D63C4D, 946px 197px #D63C4D, 985px 1566px #D63C4D,
    1314px 590px #D63C4D, 1887px 1622px #D63C4D, 976px 568px #D63C4D,
    985px 850px #D63C4D, 40px 1635px #D63C4D, 767px 1489px #D63C4D,
    612px 457px #D63C4D, 1506px 79px #D63C4D, 1827px 36px #D63C4D,
    329px 1648px #D63C4D, 639px 664px #D63C4D, 772px 650px #D63C4D,
    772px 1635px #D63C4D, 1050px 1929px #D63C4D, 1831px 327px #D63C4D,
    156px 1237px #D63C4D, 54px 331px #D63C4D, 1605px 525px #D63C4D,
    1319px 1164px #D63C4D, 207px 996px #D63C4D, 1399px 179px #D63C4D,
    779px 1029px #D63C4D, 1710px 1708px #D63C4D, 156px 1895px #D63C4D,
    454px 751px #D63C4D, 502px 1202px #D63C4D, 1161px 621px #D63C4D,
    1704px 1690px #D63C4D, 1006px 100px #D63C4D, 353px 1048px #D63C4D,
    24px 1248px #D63C4D, 1028px 306px #D63C4D, 822px 882px #D63C4D,
    482px 1785px #D63C4D, 62px 265px #D63C4D, 1607px 1347px #D63C4D,
    99px 1234px #D63C4D, 133px 469px #D63C4D, 884px 402px #D63C4D,
    1602px 1415px #D63C4D, 1169px 1837px #D63C4D, 1516px 177px #D63C4D,
    1385px 451px #D63C4D, 128px 1492px #D63C4D, 362px 1501px #D63C4D,
    1719px 681px #D63C4D, 410px 558px #D63C4D, 1239px 1749px #D63C4D,
    1927px 576px #D63C4D, 1255px 1964px #D63C4D, 399px 142px #D63C4D,
    760px 780px #D63C4D, 771px 865px #D63C4D, 794px 66px #D63C4D,
    598px 1887px #D63C4D, 1616px 1071px #D63C4D, 193px 1564px #D63C4D,
    888px 39px #D63C4D, 773px 1596px #D63C4D, 76px 1272px #D63C4D,
    1160px 1057px #D63C4D, 1436px 766px #D63C4D, 132px 564px #D63C4D,
    1881px 1232px #D63C4D, 1001px 1455px #D63C4D, 48px 772px #D63C4D,
    1886px 528px #D63C4D, 932px 546px #D63C4D, 769px 1727px #D63C4D,
    1184px 166px #D63C4D, 468px 608px #D63C4D, 1581px 94px #D63C4D,
    1406px 123px #D63C4D, 1769px 700px #D63C4D, 790px 1354px #D63C4D,
    1665px 1903px #D63C4D, 1130px 1040px #D63C4D, 1147px 877px #D63C4D,
    1996px 1801px #D63C4D, 1943px 1363px #D63C4D, 91px 1136px #D63C4D,
    1554px 1684px #D63C4D, 409px 1984px #D63C4D, 1037px 1481px #D63C4D,
    934px 1053px #D63C4D, 452px 864px #D63C4D, 640px 1916px #D63C4D,
    1569px 1859px #D63C4D, 1300px 1041px #D63C4D, 365px 1871px #D63C4D,
    1841px 1797px #D63C4D, 1573px 161px #D63C4D, 405px 1933px #D63C4D,
    289px 680px #D63C4D, 452px 1064px #D63C4D, 1728px 1107px #D63C4D,
    469px 1563px #D63C4D, 1736px 1830px #D63C4D, 702px 1586px #D63C4D,
    1286px 362px #D63C4D, 685px 139px #D63C4D, 1269px 382px #D63C4D,
    907px 227px #D63C4D, 854px 484px #D63C4D, 1449px 1320px #D63C4D,
    400px 109px #D63C4D, 1907px 1989px #D63C4D, 1625px 93px #D63C4D,
    1942px 1345px #D63C4D, 810px 944px #D63C4D, 1807px 1180px #D63C4D,
    62px 1070px #D63C4D, 484px 850px #D63C4D, 574px 1262px #D63C4D,
    899px 51px #D63C4D, 1494px 1607px #D63C4D, 735px 1761px #D63C4D,
    723px 34px #D63C4D, 873px 242px #D63C4D, 1308px 1735px #D63C4D,
    806px 1605px #D63C4D, 1431px 750px #D63C4D, 1549px 1117px #D63C4D,
    663px 825px #D63C4D, 1194px 406px #D63C4D, 808px 667px #D63C4D,
    830px 1416px #D63C4D, 1023px 506px #D63C4D, 1297px 312px #D63C4D,
    131px 139px #D63C4D, 731px 1792px #D63C4D, 1319px 875px #D63C4D,
    1994px 1375px #D63C4D, 584px 1592px #D63C4D, 1871px 1798px #D63C4D,
    1842px 1394px #D63C4D, 438px 295px #D63C4D, 612px 1477px #D63C4D,
    595px 180px #D63C4D, 44px 481px #D63C4D, 1882px 1447px #D63C4D,
    493px 806px #D63C4D, 1595px 1024px #D63C4D, 277px 1756px #D63C4D,
    1745px 322px #D63C4D, 908px 447px #D63C4D, 1259px 101px #D63C4D,
    1450px 1297px #D63C4D, 528px 324px #D63C4D, 1285px 612px #D63C4D,
    1154px 1208px #D63C4D, 1048px 1588px #D63C4D, 1105px 1439px #D63C4D,
    408px 900px #D63C4D;
  animation: animStar 70s linear infinite;
}

.stars:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1631px 365px #D63C4D, 756px 1915px #D63C4D, 954px 1389px #D63C4D,
    1097px 317px #D63C4D, 773px 777px #D63C4D, 1442px 341px #D63C4D,
    431px 670px #D63C4D, 578px 1244px #D63C4D, 420px 1296px #D63C4D,
    1345px 490px #D63C4D, 895px 1179px #D63C4D, 181px 347px #D63C4D,
    1261px 751px #D63C4D, 1092px 1531px #D63C4D, 623px 1253px #D63C4D,
    736px 1277px #D63C4D, 928px 1216px #D63C4D, 1972px 879px #D63C4D,
    1101px 1563px #D63C4D, 1264px 1351px #D63C4D, 1448px 1269px #D63C4D,
    680px 1151px #D63C4D, 390px 838px #D63C4D, 64px 1036px #D63C4D,
    1098px 722px #D63C4D, 1226px 1434px #D63C4D, 591px 791px #D63C4D,
    1405px 1499px #D63C4D, 80px 1158px #D63C4D, 788px 1973px #D63C4D,
    1849px 1025px #D63C4D, 816px 732px #D63C4D, 1624px 1116px #D63C4D,
    1724px 361px #D63C4D, 722px 904px #D63C4D, 1709px 1276px #D63C4D,
    637px 1228px #D63C4D, 707px 1915px #D63C4D, 427px 97px #D63C4D,
    1726px 1128px #D63C4D, 957px 1343px #D63C4D, 1994px 1341px #D63C4D,
    1420px 845px #D63C4D, 140px 1250px #D63C4D, 807px 225px #D63C4D,
    653px 1966px #D63C4D, 863px 1515px #D63C4D, 1389px 1510px #D63C4D,
    1116px 1324px #D63C4D, 994px 1012px #D63C4D, 905px 837px #D63C4D,
    1039px 818px #D63C4D, 1131px 987px #D63C4D, 833px 415px #D63C4D,
    1718px 1047px #D63C4D, 1339px 1153px #D63C4D, 1142px 682px #D63C4D,
    935px 1711px #D63C4D, 1044px 510px #D63C4D, 1330px 1422px #D63C4D,
    1348px 765px #D63C4D, 543px 1617px #D63C4D, 818px 578px #D63C4D,
    1719px 1678px #D63C4D, 456px 1539px #D63C4D, 671px 1707px #D63C4D,
    379px 329px #D63C4D, 1319px 1703px #D63C4D, 761px 1949px #D63C4D,
    1949px 605px #D63C4D, 1070px 1362px #D63C4D, 668px 254px #D63C4D,
    257px 418px #D63C4D, 763px 1674px #D63C4D, 1057px 862px #D63C4D,
    849px 1978px #D63C4D, 1149px 1539px #D63C4D, 322px 1429px #D63C4D,
    523px 618px #D63C4D, 861px 1663px #D63C4D, 1331px 1391px #D63C4D,
    1156px 75px #D63C4D, 108px 1188px #D63C4D, 1322px 870px #D63C4D,
    1504px 865px #D63C4D, 1350px 1700px #D63C4D, 510px 1864px #D63C4D,
    164px 546px #D63C4D, 619px 1483px #D63C4D, 1169px 59px #D63C4D,
    322px 1048px #D63C4D, 149px 1857px #D63C4D, 1867px 1604px #D63C4D,
    1200px 197px #D63C4D, 991px 1145px #D63C4D, 1290px 910px #D63C4D,
    1432px 1360px #D63C4D, 235px 663px #D63C4D, 1799px 1039px #D63C4D,
    1966px 972px #D63C4D, 465px 1169px #D63C4D, 894px 1751px #D63C4D,
    1460px 1945px #D63C4D, 337px 1480px #D63C4D, 442px 1683px #D63C4D,
    1121px 37px #D63C4D, 727px 1248px #D63C4D, 336px 576px #D63C4D,
    448px 852px #D63C4D, 1352px 1028px #D63C4D, 1018px 1308px #D63C4D,
    1997px 1776px #D63C4D, 161px 508px #D63C4D, 1063px 1148px #D63C4D,
    1123px 1253px #D63C4D, 74px 1663px #D63C4D, 557px 140px #D63C4D,
    1791px 1554px #D63C4D, 1201px 723px #D63C4D, 247px 500px #D63C4D,
    1715px 1432px #D63C4D, 967px 833px #D63C4D, 856px 304px #D63C4D,
    1683px 536px #D63C4D, 1200px 1919px #D63C4D, 385px 1835px #D63C4D,
    187px 621px #D63C4D, 918px 1612px #D63C4D, 463px 1539px #D63C4D,
    1692px 552px #D63C4D, 1069px 1359px #D63C4D, 871px 196px #D63C4D,
    1184px 828px #D63C4D, 1125px 1529px #D63C4D, 972px 1644px #D63C4D,
    1177px 519px #D63C4D, 1201px 1271px #D63C4D, 1267px 1385px #D63C4D,
    1728px 168px #D63C4D, 240px 1512px #D63C4D, 89px 807px #D63C4D,
    423px 1223px #D63C4D, 574px 22px #D63C4D, 1592px 400px #D63C4D,
    483px 534px #D63C4D, 1737px 722px #D63C4D, 1572px 1232px #D63C4D,
    1973px 1576px #D63C4D, 1809px 1547px #D63C4D, 728px 972px #D63C4D,
    799px 659px #D63C4D, 566px 1512px #D63C4D, 266px 1726px #D63C4D,
    1881px 1206px #D63C4D, 1484px 940px #D63C4D, 444px 999px #D63C4D,
    1002px 1107px #D63C4D, 1396px 104px #D63C4D, 573px 1349px #D63C4D,
    878px 293px #D63C4D, 1735px 636px #D63C4D, 1902px 548px #D63C4D,
    180px 1251px #D63C4D, 901px 1758px #D63C4D, 398px 1197px #D63C4D,
    1215px 35px #D63C4D, 1884px 99px #D63C4D, 1521px 812px #D63C4D,
    324px 743px #D63C4D, 1399px 559px #D63C4D, 312px 148px #D63C4D,
    834px 722px #D63C4D, 186px 1655px #D63C4D, 1821px 1672px #D63C4D,
    1974px 1870px #D63C4D, 554px 77px #D63C4D, 144px 1483px #D63C4D,
    1746px 501px #D63C4D, 152px 1392px #D63C4D, 1946px 239px #D63C4D,
    1909px 1395px #D63C4D, 1679px 573px #D63C4D, 1630px 1899px #D63C4D,
    1728px 1907px #D63C4D, 1204px 242px #D63C4D, 145px 866px #D63C4D,
    117px 329px #D63C4D, 456px 890px #D63C4D, 1750px 1423px #D63C4D,
    866px 1994px #D63C4D, 1474px 1203px #D63C4D, 1895px 1511px #D63C4D,
    166px 1730px #D63C4D, 321px 1605px #D63C4D, 39px 1154px #D63C4D,
    965px 972px #D63C4D, 206px 415px #D63C4D, 1981px 107px #D63C4D,
    1399px 1057px #D63C4D, 1754px 854px #D63C4D, 1895px 756px #D63C4D,
    680px 1945px #D63C4D, 1732px 1826px #D63C4D, 519px 581px #D63C4D,
    1152px 77px #D63C4D, 1978px 1294px #D63C4D, 1620px 1423px #D63C4D,
    277px 431px #D63C4D, 1216px 1100px #D63C4D, 115px 1977px #D63C4D,
    1146px 267px #D63C4D, 671px 1770px #D63C4D, 884px 812px #D63C4D,
    106px 172px #D63C4D, 1400px 1564px #D63C4D, 1685px 1274px #D63C4D,
    610px 1536px #D63C4D, 1839px 967px #D63C4D, 1860px 1203px #D63C4D,
    1285px 1787px #D63C4D, 1616px 470px #D63C4D, 602px 1760px #D63C4D,
    215px 782px #D63C4D, 1190px 950px #D63C4D, 1988px 562px #D63C4D,
    1154px 310px #D63C4D, 1189px 650px #D63C4D, 312px 1494px #D63C4D,
    823px 348px #D63C4D, 1858px 271px #D63C4D, 489px 1012px #D63C4D,
    458px 1950px #D63C4D, 41px 1799px #D63C4D, 1076px 1875px #D63C4D,
    695px 195px #D63C4D, 28px 48px #D63C4D, 1778px 66px #D63C4D,
    504px 1489px #D63C4D, 1051px 80px #D63C4D, 1406px 1774px #D63C4D,
    1732px 780px #D63C4D, 1118px 853px #D63C4D, 516px 285px #D63C4D,
    1515px 1087px #D63C4D, 889px 1246px #D63C4D, 1313px 1745px #D63C4D,
    505px 1465px #D63C4D, 214px 98px #D63C4D, 1127px 842px #D63C4D,
    1707px 1251px #D63C4D, 1556px 122px #D63C4D, 223px 1098px #D63C4D,
    1169px 182px #D63C4D, 1013px 1982px #D63C4D, 1733px 443px #D63C4D,
    1614px 539px #D63C4D, 1820px 162px #D63C4D, 1247px 811px #D63C4D,
    206px 1923px #D63C4D, 286px 878px #D63C4D, 77px 915px #D63C4D,
    864px 1153px #D63C4D, 1704px 285px #D63C4D, 59px 1983px #D63C4D,
    819px 1133px #D63C4D, 140px 1302px #D63C4D, 320px 1876px #D63C4D,
    951px 1286px #D63C4D, 584px 98px #D63C4D, 1487px 1129px #D63C4D,
    1073px 1973px #D63C4D, 174px 530px #D63C4D, 1461px 35px #D63C4D,
    1413px 905px #D63C4D, 383px 814px #D63C4D, 1150px 306px #D63C4D,
    615px 1682px #D63C4D, 247px 1839px #D63C4D, 1382px 290px #D63C4D,
    1485px 1740px #D63C4D, 901px 1282px #D63C4D, 794px 937px #D63C4D,
    612px 620px #D63C4D, 1017px 250px #D63C4D, 989px 1353px #D63C4D,
    1469px 906px #D63C4D, 1021px 1615px #D63C4D, 1568px 367px #D63C4D,
    1008px 729px #D63C4D, 1751px 1993px #D63C4D, 787px 547px #D63C4D,
    313px 1261px #D63C4D, 1292px 1876px #D63C4D, 1692px 756px #D63C4D,
    821px 157px #D63C4D, 1236px 418px #D63C4D, 1125px 1416px #D63C4D,
    625px 907px #D63C4D, 1817px 1520px #D63C4D, 558px 927px #D63C4D,
    1545px 293px #D63C4D, 1328px 1175px #D63C4D, 845px 1499px #D63C4D,
    1733px 1680px #D63C4D, 150px 1327px #D63C4D, 378px 620px #D63C4D,
    800px 1060px #D63C4D, 1635px 1356px #D63C4D, 164px 1639px #D63C4D,
    424px 269px #D63C4D, 1344px 602px #D63C4D, 1008px 1560px #D63C4D,
    515px 1489px #D63C4D, 1471px 1117px #D63C4D, 1410px 527px #D63C4D,
    387px 1335px #D63C4D, 1160px 1735px #D63C4D, 1375px 1594px #D63C4D,
    1658px 1375px #D63C4D, 216px 302px #D63C4D, 563px 386px #D63C4D,
    1218px 226px #D63C4D, 560px 1359px #D63C4D, 949px 1089px #D63C4D,
    1736px 924px #D63C4D, 1018px 1374px #D63C4D, 934px 1562px #D63C4D,
    1224px 1712px #D63C4D, 559px 1348px #D63C4D, 1123px 218px #D63C4D,
    1073px 937px #D63C4D, 596px 1499px #D63C4D, 913px 951px #D63C4D,
    357px 770px #D63C4D, 495px 335px #D63C4D, 279px 104px #D63C4D,
    758px 1659px #D63C4D, 655px 763px #D63C4D, 1351px 636px #D63C4D,
    1407px 1502px #D63C4D, 661px 688px #D63C4D, 1654px 671px #D63C4D,
    1783px 585px #D63C4D, 372px 304px #D63C4D, 1237px 1519px #D63C4D,
    61px 973px #D63C4D, 905px 331px #D63C4D, 1484px 1224px #D63C4D,
    1500px 1927px #D63C4D, 593px 1262px #D63C4D, 766px 604px #D63C4D,
    730px 247px #D63C4D, 741px 1956px #D63C4D, 672px 609px #D63C4D,
    1192px 1552px #D63C4D, 1382px 1134px #D63C4D, 681px 1090px #D63C4D,
    73px 1777px #D63C4D, 46px 1068px #D63C4D, 199px 88px #D63C4D,
    660px 136px #D63C4D, 437px 1047px #D63C4D, 1157px 709px #D63C4D,
    1424px 252px #D63C4D, 982px 657px #D63C4D, 981px 880px #D63C4D,
    263px 1319px #D63C4D, 1955px 1180px #D63C4D, 1469px 1531px #D63C4D,
    171px 48px #D63C4D, 148px 1050px #D63C4D, 1776px 693px #D63C4D,
    1259px 294px #D63C4D, 738px 1554px #D63C4D, 713px 819px #D63C4D,
    187px 234px #D63C4D, 1665px 1890px #D63C4D, 835px 832px #D63C4D,
    1788px 1265px #D63C4D, 1275px 1181px #D63C4D, 1828px 1404px #D63C4D,
    1285px 857px #D63C4D, 1448px 1477px #D63C4D, 718px 402px #D63C4D,
    265px 1515px #D63C4D, 1067px 1336px #D63C4D, 1236px 142px #D63C4D,
    1266px 94px #D63C4D, 598px 926px #D63C4D, 1327px 21px #D63C4D,
    1670px 630px #D63C4D, 1055px 716px #D63C4D, 396px 1740px #D63C4D,
    984px 1662px #D63C4D, 1793px 661px #D63C4D, 418px 1941px #D63C4D,
    1571px 853px #D63C4D, 977px 269px #D63C4D, 609px 302px #D63C4D,
    671px 1795px #D63C4D, 1898px 1163px #D63C4D, 1534px 483px #D63C4D,
    1041px 1660px #D63C4D, 97px 420px #D63C4D, 1874px 964px #D63C4D,
    895px 747px #D63C4D, 588px 1939px #D63C4D, 1932px 710px #D63C4D,
    1928px 1832px #D63C4D, 491px 1532px #D63C4D, 234px 1628px #D63C4D,
    1877px 1454px #D63C4D, 816px 1479px #D63C4D, 357px 1884px #D63C4D,
    1642px 1762px #D63C4D, 364px 1011px #D63C4D, 1732px 1826px #D63C4D,
    1451px 1008px #D63C4D, 1112px 767px #D63C4D, 1624px 412px #D63C4D,
    1111px 1890px #D63C4D, 734px 1050px #D63C4D, 1917px 1173px #D63C4D,
    394px 1729px #D63C4D, 838px 657px #D63C4D, 16px 564px #D63C4D,
    1342px 1424px #D63C4D, 987px 478px #D63C4D, 349px 1609px #D63C4D,
    850px 179px #D63C4D, 984px 751px #D63C4D, 1549px 1188px #D63C4D,
    297px 260px #D63C4D, 1355px 226px #D63C4D, 385px 1278px #D63C4D,
    678px 1533px #D63C4D, 1481px 1595px #D63C4D, 1449px 27px #D63C4D,
    1480px 828px #D63C4D, 1911px 87px #D63C4D, 923px 182px #D63C4D,
    1652px 1678px #D63C4D, 1340px 1295px #D63C4D, 1548px 1304px #D63C4D,
    708px 170px #D63C4D, 424px 1769px #D63C4D, 1604px 1731px #D63C4D,
    916px 1382px #D63C4D, 658px 1482px #D63C4D, 662px 1969px #D63C4D,
    179px 1800px #D63C4D, 1459px 1041px #D63C4D, 642px 1215px #D63C4D,
    1160px 1492px #D63C4D, 159px 1234px #D63C4D, 1702px 1087px #D63C4D,
    691px 1884px #D63C4D, 1983px 1799px #D63C4D, 1344px 1824px #D63C4D,
    269px 23px #D63C4D, 1666px 210px #D63C4D, 928px 1111px #D63C4D,
    257px 44px #D63C4D, 43px 227px #D63C4D, 394px 1999px #D63C4D,
    906px 1542px #D63C4D, 1661px 290px #D63C4D, 621px 1649px #D63C4D,
    1917px 1613px #D63C4D, 1389px 1217px #D63C4D, 673px 781px #D63C4D,
    1736px 756px #D63C4D, 492px 1651px #D63C4D, 1490px 574px #D63C4D,
    1700px 1528px #D63C4D, 5px 537px #D63C4D, 1924px 1935px #D63C4D,
    688px 1270px #D63C4D, 1422px 488px #D63C4D, 408px 190px #D63C4D,
    1307px 326px #D63C4D, 1414px 1235px #D63C4D, 572px 1043px #D63C4D,
    1328px 670px #D63C4D, 223px 1305px #D63C4D, 1929px 1852px #D63C4D,
    1701px 179px #D63C4D, 54px 209px #D63C4D, 1487px 1103px #D63C4D,
    884px 360px #D63C4D, 471px 1001px #D63C4D, 614px 1967px #D63C4D,
    1673px 273px #D63C4D, 1342px 1505px #D63C4D, 809px 272px #D63C4D,
    460px 591px #D63C4D, 660px 350px #D63C4D, 892px 1842px #D63C4D,
    1216px 423px #D63C4D, 951px 156px #D63C4D, 1397px 669px #D63C4D,
    1624px 1497px #D63C4D, 625px 1717px #D63C4D, 1294px 1495px #D63C4D,
    608px 705px #D63C4D, 1019px 1645px #D63C4D, 1969px 1865px #D63C4D,
    732px 1949px #D63C4D, 1705px 1424px #D63C4D, 727px 1557px #D63C4D,
    285px 1651px #D63C4D, 952px 597px #D63C4D, 638px 232px #D63C4D,
    766px 1427px #D63C4D, 1503px 608px #D63C4D, 1087px 1235px #D63C4D,
    1263px 1523px #D63C4D, 1378px 342px #D63C4D, 423px 1962px #D63C4D,
    1353px 978px #D63C4D, 772px 299px #D63C4D, 22px 1239px #D63C4D,
    1737px 1664px #D63C4D, 1459px 1718px #D63C4D, 1718px 1421px #D63C4D,
    1070px 1893px #D63C4D, 1713px 1988px #D63C4D, 725px 65px #D63C4D,
    584px 1882px #D63C4D, 697px 767px #D63C4D, 119px 1111px #D63C4D,
    1146px 833px #D63C4D, 517px 696px #D63C4D, 1959px 821px #D63C4D,
    1312px 1130px #D63C4D, 580px 1715px #D63C4D, 932px 1179px #D63C4D,
    1601px 588px #D63C4D, 156px 1679px #D63C4D, 90px 181px #D63C4D,
    1806px 1961px #D63C4D, 1983px 849px #D63C4D, 1915px 367px #D63C4D,
    337px 1805px #D63C4D, 946px 197px #D63C4D, 985px 1566px #D63C4D,
    1314px 590px #D63C4D, 1887px 1622px #D63C4D, 976px 568px #D63C4D,
    985px 850px #D63C4D, 40px 1635px #D63C4D, 767px 1489px #D63C4D,
    612px 457px #D63C4D, 1506px 79px #D63C4D, 1827px 36px #D63C4D,
    329px 1648px #D63C4D, 639px 664px #D63C4D, 772px 650px #D63C4D,
    772px 1635px #D63C4D, 1050px 1929px #D63C4D, 1831px 327px #D63C4D,
    156px 1237px #D63C4D, 54px 331px #D63C4D, 1605px 525px #D63C4D,
    1319px 1164px #D63C4D, 207px 996px #D63C4D, 1399px 179px #D63C4D,
    779px 1029px #D63C4D, 1710px 1708px #D63C4D, 156px 1895px #D63C4D,
    454px 751px #D63C4D, 502px 1202px #D63C4D, 1161px 621px #D63C4D,
    1704px 1690px #D63C4D, 1006px 100px #D63C4D, 353px 1048px #D63C4D,
    24px 1248px #D63C4D, 1028px 306px #D63C4D, 822px 882px #D63C4D,
    482px 1785px #D63C4D, 62px 265px #D63C4D, 1607px 1347px #D63C4D,
    99px 1234px #D63C4D, 133px 469px #D63C4D, 884px 402px #D63C4D,
    1602px 1415px #D63C4D, 1169px 1837px #D63C4D, 1516px 177px #D63C4D,
    1385px 451px #D63C4D, 128px 1492px #D63C4D, 362px 1501px #D63C4D,
    1719px 681px #D63C4D, 410px 558px #D63C4D, 1239px 1749px #D63C4D,
    1927px 576px #D63C4D, 1255px 1964px #D63C4D, 399px 142px #D63C4D,
    760px 780px #D63C4D, 771px 865px #D63C4D, 794px 66px #D63C4D,
    598px 1887px #D63C4D, 1616px 1071px #D63C4D, 193px 1564px #D63C4D,
    888px 39px #D63C4D, 773px 1596px #D63C4D, 76px 1272px #D63C4D,
    1160px 1057px #D63C4D, 1436px 766px #D63C4D, 132px 564px #D63C4D,
    1881px 1232px #D63C4D, 1001px 1455px #D63C4D, 48px 772px #D63C4D,
    1886px 528px #D63C4D, 932px 546px #D63C4D, 769px 1727px #D63C4D,
    1184px 166px #D63C4D, 468px 608px #D63C4D, 1581px 94px #D63C4D,
    1406px 123px #D63C4D, 1769px 700px #D63C4D, 790px 1354px #D63C4D,
    1665px 1903px #D63C4D, 1130px 1040px #D63C4D, 1147px 877px #D63C4D,
    1996px 1801px #D63C4D, 1943px 1363px #D63C4D, 91px 1136px #D63C4D,
    1554px 1684px #D63C4D, 409px 1984px #D63C4D, 1037px 1481px #D63C4D,
    934px 1053px #D63C4D, 452px 864px #D63C4D, 640px 1916px #D63C4D,
    1569px 1859px #D63C4D, 1300px 1041px #D63C4D, 365px 1871px #D63C4D,
    1841px 1797px #D63C4D, 1573px 161px #D63C4D, 405px 1933px #D63C4D,
    289px 680px #D63C4D, 452px 1064px #D63C4D, 1728px 1107px #D63C4D,
    469px 1563px #D63C4D, 1736px 1830px #D63C4D, 702px 1586px #D63C4D,
    1286px 362px #D63C4D, 685px 139px #D63C4D, 1269px 382px #D63C4D,
    907px 227px #D63C4D, 854px 484px #D63C4D, 1449px 1320px #D63C4D,
    400px 109px #D63C4D, 1907px 1989px #D63C4D, 1625px 93px #D63C4D,
    1942px 1345px #D63C4D, 810px 944px #D63C4D, 1807px 1180px #D63C4D,
    62px 1070px #D63C4D, 484px 850px #D63C4D, 574px 1262px #D63C4D,
    899px 51px #D63C4D, 1494px 1607px #D63C4D, 735px 1761px #D63C4D,
    723px 34px #D63C4D, 873px 242px #D63C4D, 1308px 1735px #D63C4D,
    806px 1605px #D63C4D, 1431px 750px #D63C4D, 1549px 1117px #D63C4D,
    663px 825px #D63C4D, 1194px 406px #D63C4D, 808px 667px #D63C4D,
    830px 1416px #D63C4D, 1023px 506px #D63C4D, 1297px 312px #D63C4D,
    131px 139px #D63C4D, 731px 1792px #D63C4D, 1319px 875px #D63C4D,
    1994px 1375px #D63C4D, 584px 1592px #D63C4D, 1871px 1798px #D63C4D,
    1842px 1394px #D63C4D, 438px 295px #D63C4D, 612px 1477px #D63C4D,
    595px 180px #D63C4D, 44px 481px #D63C4D, 1882px 1447px #D63C4D,
    493px 806px #D63C4D, 1595px 1024px #D63C4D, 277px 1756px #D63C4D,
    1745px 322px #D63C4D, 908px 447px #D63C4D, 1259px 101px #D63C4D,
    1450px 1297px #D63C4D, 528px 324px #D63C4D, 1285px 612px #D63C4D,
    1154px 1208px #D63C4D, 1048px 1588px #D63C4D, 1105px 1439px #D63C4D,
    408px 900px #D63C4D;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
    273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5,
    413px 31px #1d92d5, 980px 1183px #1d92d5, 1501px 1031px #1d92d5,
    537px 1479px #1d92d5, 54px 1912px #1d92d5, 757px 166px #1d92d5,
    1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
    1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5,
    291px 1691px #1d92d5, 1241px 209px #1d92d5, 1523px 989px #1d92d5,
    1257px 1739px #1d92d5, 678px 1344px #1d92d5, 1689px 712px #1d92d5,
    1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
    198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5,
    472px 964px #1d92d5, 388px 1572px #1d92d5, 970px 1090px #1d92d5,
    1375px 119px #1d92d5, 1062px 631px #1d92d5, 137px 19px #1d92d5,
    1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
    1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5,
    1053px 1269px #1d92d5, 688px 906px #1d92d5, 1475px 750px #1d92d5,
    1907px 1150px #1d92d5, 1863px 221px #1d92d5, 102px 1653px #1d92d5,
    207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
    745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5,
    1641px 1133px #1d92d5, 1796px 246px #1d92d5, 271px 1536px #1d92d5,
    1403px 591px #1d92d5, 1719px 178px #1d92d5, 1361px 1124px #1d92d5,
    1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
    209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5,
    244px 1877px #1d92d5, 1646px 638px #1d92d5, 1586px 922px #1d92d5,
    1443px 1206px #1d92d5, 49px 221px #1d92d5, 462px 1426px #1d92d5,
    1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
    185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5,
    1744px 377px #1d92d5, 1280px 1842px #1d92d5, 1524px 930px #1d92d5,
    137px 190px #1d92d5, 1128px 207px #1d92d5, 274px 436px #1d92d5,
    1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
    596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5,
    848px 1254px #1d92d5, 763px 1967px #1d92d5, 179px 918px #1d92d5,
    941px 1422px #1d92d5, 1411px 1300px #1d92d5, 460px 240px #1d92d5,
    345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
    1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5,
    862px 161px #1d92d5, 1113px 1069px #1d92d5, 277px 456px #1d92d5,
    675px 1294px #1d92d5, 1699px 259px #1d92d5, 1534px 1124px #1d92d5,
    450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
    962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5,
    1598px 1119px #1d92d5, 1896px 883px #1d92d5, 1048px 729px #1d92d5,
    1974px 660px #1d92d5, 201px 1009px #1d92d5, 1184px 68px #1d92d5,
    1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
    977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5,
    481px 733px #1d92d5, 1155px 922px #1d92d5, 605px 676px #1d92d5,
    267px 434px #1d92d5, 542px 1038px #1d92d5, 1198px 49px #1d92d5,
    388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
    1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5,
    1762px 1292px #1d92d5, 1742px 1365px #1d92d5, 1380px 1569px #1d92d5,
    1558px 55px #1d92d5, 372px 777px #1d92d5, 1315px 927px #1d92d5,
    581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
    1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5,
    449px 889px #1d92d5, 123px 1348px #1d92d5, 227px 815px #1d92d5,
    711px 1757px #1d92d5, 1061px 1352px #1d92d5, 1809px 1491px #1d92d5,
    783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
    1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5,
    895px 1228px #1d92d5, 1168px 1636px #1d92d5, 1364px 1607px #1d92d5,
    1748px 232px #1d92d5, 1785px 1366px #1d92d5, 1850px 1571px #1d92d5,
    1896px 1525px #1d92d5, 30px 817px #1d92d5, 374px 1678px #1d92d5,
    1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
    1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5,
    1190px 362px #1d92d5, 570px 1458px #1d92d5, 1931px 609px #1d92d5,
    1705px 711px #1d92d5, 366px 902px #1d92d5, 546px 1977px #1d92d5,
    348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
    1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5,
    1px 1104px #1d92d5, 26px 367px #1d92d5, 846px 955px #1d92d5,
    1677px 426px #1d92d5, 707px 1819px #1d92d5, 545px 1195px #1d92d5,
    960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
    1468px 654px #1d92d5, 1898px 655px #1d92d5;
  animation: animStar 120s linear infinite;
}

.stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
    273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5,
    413px 31px #1d92d5, 980px 1183px #1d92d5, 1501px 1031px #1d92d5,
    537px 1479px #1d92d5, 54px 1912px #1d92d5, 757px 166px #1d92d5,
    1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
    1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5,
    291px 1691px #1d92d5, 1241px 209px #1d92d5, 1523px 989px #1d92d5,
    1257px 1739px #1d92d5, 678px 1344px #1d92d5, 1689px 712px #1d92d5,
    1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
    198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5,
    472px 964px #1d92d5, 388px 1572px #1d92d5, 970px 1090px #1d92d5,
    1375px 119px #1d92d5, 1062px 631px #1d92d5, 137px 19px #1d92d5,
    1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
    1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5,
    1053px 1269px #1d92d5, 688px 906px #1d92d5, 1475px 750px #1d92d5,
    1907px 1150px #1d92d5, 1863px 221px #1d92d5, 102px 1653px #1d92d5,
    207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
    745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5,
    1641px 1133px #1d92d5, 1796px 246px #1d92d5, 271px 1536px #1d92d5,
    1403px 591px #1d92d5, 1719px 178px #1d92d5, 1361px 1124px #1d92d5,
    1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
    209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5,
    244px 1877px #1d92d5, 1646px 638px #1d92d5, 1586px 922px #1d92d5,
    1443px 1206px #1d92d5, 49px 221px #1d92d5, 462px 1426px #1d92d5,
    1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
    185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5,
    1744px 377px #1d92d5, 1280px 1842px #1d92d5, 1524px 930px #1d92d5,
    137px 190px #1d92d5, 1128px 207px #1d92d5, 274px 436px #1d92d5,
    1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
    596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5,
    848px 1254px #1d92d5, 763px 1967px #1d92d5, 179px 918px #1d92d5,
    941px 1422px #1d92d5, 1411px 1300px #1d92d5, 460px 240px #1d92d5,
    345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
    1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5,
    862px 161px #1d92d5, 1113px 1069px #1d92d5, 277px 456px #1d92d5,
    675px 1294px #1d92d5, 1699px 259px #1d92d5, 1534px 1124px #1d92d5,
    450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
    962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5,
    1598px 1119px #1d92d5, 1896px 883px #1d92d5, 1048px 729px #1d92d5,
    1974px 660px #1d92d5, 201px 1009px #1d92d5, 1184px 68px #1d92d5,
    1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
    977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5,
    481px 733px #1d92d5, 1155px 922px #1d92d5, 605px 676px #1d92d5,
    267px 434px #1d92d5, 542px 1038px #1d92d5, 1198px 49px #1d92d5,
    388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
    1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5,
    1762px 1292px #1d92d5, 1742px 1365px #1d92d5, 1380px 1569px #1d92d5,
    1558px 55px #1d92d5, 372px 777px #1d92d5, 1315px 927px #1d92d5,
    581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
    1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5,
    449px 889px #1d92d5, 123px 1348px #1d92d5, 227px 815px #1d92d5,
    711px 1757px #1d92d5, 1061px 1352px #1d92d5, 1809px 1491px #1d92d5,
    783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
    1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5,
    895px 1228px #1d92d5, 1168px 1636px #1d92d5, 1364px 1607px #1d92d5,
    1748px 232px #1d92d5, 1785px 1366px #1d92d5, 1850px 1571px #1d92d5,
    1896px 1525px #1d92d5, 30px 817px #1d92d5, 374px 1678px #1d92d5,
    1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
    1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5,
    1190px 362px #1d92d5, 570px 1458px #1d92d5, 1931px 609px #1d92d5,
    1705px 711px #1d92d5, 366px 902px #1d92d5, 546px 1977px #1d92d5,
    348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
    1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5,
    1px 1104px #1d92d5, 26px 367px #1d92d5, 846px 955px #1d92d5,
    1677px 426px #1d92d5, 707px 1819px #1d92d5, 545px 1195px #1d92d5,
    960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
    1468px 654px #1d92d5, 1898px 655px #1d92d5;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 145px #7111F5, 84px 980px #7111F5, 1623px 187px #7111F5,
    586px 1271px #7111F5, 159px 846px #7111F5, 476px 1621px #7111F5,
    449px 466px #7111F5, 99px 1420px #7111F5, 19px 457px #7111F5,
    466px 580px #7111F5, 1395px 1953px #7111F5, 859px 1355px #7111F5,
    1040px 1584px #7111F5, 713px 165px #7111F5, 645px 120px #7111F5,
    1264px 589px #7111F5, 1766px 995px #7111F5, 614px 719px #7111F5,
    717px 1001px #7111F5, 174px 1683px #7111F5, 338px 595px #7111F5,
    1892px 1897px #7111F5, 1111px 200px #7111F5, 444px 645px #7111F5,
    458px 1233px #7111F5, 999px 1781px #7111F5, 1771px 1243px #7111F5,
    595px 744px #7111F5, 622px 190px #7111F5, 469px 1066px #7111F5,
    1358px 1374px #7111F5, 1598px 264px #7111F5, 1435px 407px #7111F5,
    1455px 1901px #7111F5, 713px 1378px #7111F5, 187px 281px #7111F5,
    408px 1354px #7111F5, 1834px 1071px #7111F5, 486px 1125px #7111F5,
    1195px 118px #7111F5, 192px 1646px #7111F5, 10px 380px #7111F5,
    1199px 291px #7111F5, 1893px 1488px #7111F5, 1651px 731px #7111F5,
    199px 571px #7111F5, 942px 1470px #7111F5, 574px 1918px #7111F5,
    1691px 1705px #7111F5, 1562px 474px #7111F5, 507px 1957px #7111F5,
    37px 507px #7111F5, 1999px 1413px #7111F5, 1446px 784px #7111F5,
    522px 1982px #7111F5, 1317px 1758px #7111F5, 1966px 1425px #7111F5,
    212px 971px #7111F5, 138px 745px #7111F5, 1619px 582px #7111F5,
    119px 1542px #7111F5, 583px 648px #7111F5, 953px 1994px #7111F5,
    629px 1637px #7111F5, 1502px 1676px #7111F5, 849px 981px #7111F5,
    1649px 16px #7111F5, 1696px 1786px #7111F5, 1214px 498px #7111F5,
    1250px 1051px #7111F5, 108px 1669px #7111F5, 1443px 542px #7111F5,
    857px 473px #7111F5, 474px 994px #7111F5, 527px 167px #7111F5,
    1589px 1523px #7111F5, 322px 461px #7111F5, 628px 1200px #7111F5,
    1983px 348px #7111F5, 1863px 823px #7111F5, 1905px 959px #7111F5,
    1558px 241px #7111F5, 1017px 1571px #7111F5, 1564px 659px #7111F5,
    1px 1624px #7111F5, 729px 1069px #7111F5, 1923px 1291px #7111F5,
    503px 441px #7111F5, 704px 1026px #7111F5, 938px 1796px #7111F5,
    998px 927px #7111F5, 590px 268px #7111F5, 474px 428px #7111F5,
    380px 44px #7111F5, 1220px 1463px #7111F5, 1843px 1947px #7111F5,
    524px 1235px #7111F5, 1512px 560px #7111F5, 1598px 1369px #7111F5,
    1600px 1375px #7111F5;
  animation: animStar 170s linear infinite;
}

.stars3:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 145px #7111F5, 84px 980px #7111F5, 1623px 187px #7111F5,
    586px 1271px #7111F5, 159px 846px #7111F5, 476px 1621px #7111F5,
    449px 466px #7111F5, 99px 1420px #7111F5, 19px 457px #7111F5,
    466px 580px #7111F5, 1395px 1953px #7111F5, 859px 1355px #7111F5,
    1040px 1584px #7111F5, 713px 165px #7111F5, 645px 120px #7111F5,
    1264px 589px #7111F5, 1766px 995px #7111F5, 614px 719px #7111F5,
    717px 1001px #7111F5, 174px 1683px #7111F5, 338px 595px #7111F5,
    1892px 1897px #7111F5, 1111px 200px #7111F5, 444px 645px #7111F5,
    458px 1233px #7111F5, 999px 1781px #7111F5, 1771px 1243px #7111F5,
    595px 744px #7111F5, 622px 190px #7111F5, 469px 1066px #7111F5,
    1358px 1374px #7111F5, 1598px 264px #7111F5, 1435px 407px #7111F5,
    1455px 1901px #7111F5, 713px 1378px #7111F5, 187px 281px #7111F5,
    408px 1354px #7111F5, 1834px 1071px #7111F5, 486px 1125px #7111F5,
    1195px 118px #7111F5, 192px 1646px #7111F5, 10px 380px #7111F5,
    1199px 291px #7111F5, 1893px 1488px #7111F5, 1651px 731px #7111F5,
    199px 571px #7111F5, 942px 1470px #7111F5, 574px 1918px #7111F5,
    1691px 1705px #7111F5, 1562px 474px #7111F5, 507px 1957px #7111F5,
    37px 507px #7111F5, 1999px 1413px #7111F5, 1446px 784px #7111F5,
    522px 1982px #7111F5, 1317px 1758px #7111F5, 1966px 1425px #7111F5,
    212px 971px #7111F5, 138px 745px #7111F5, 1619px 582px #7111F5,
    119px 1542px #7111F5, 583px 648px #7111F5, 953px 1994px #7111F5,
    629px 1637px #7111F5, 1502px 1676px #7111F5, 849px 981px #7111F5,
    1649px 16px #7111F5, 1696px 1786px #7111F5, 1214px 498px #7111F5,
    1250px 1051px #7111F5, 108px 1669px #7111F5, 1443px 542px #7111F5,
    857px 473px #7111F5, 474px 994px #7111F5, 527px 167px #7111F5,
    1589px 1523px #7111F5, 322px 461px #7111F5, 628px 1200px #7111F5,
    1983px 348px #7111F5, 1863px 823px #7111F5, 1905px 959px #7111F5,
    1558px 241px #7111F5, 1017px 1571px #7111F5, 1564px 659px #7111F5,
    1px 1624px #7111F5, 729px 1069px #7111F5, 1923px 1291px #7111F5,
    503px 441px #7111F5, 704px 1026px #7111F5, 938px 1796px #7111F5,
    998px 927px #7111F5, 590px 268px #7111F5, 474px 428px #7111F5,
    380px 44px #7111F5, 1220px 1463px #7111F5, 1843px 1947px #7111F5,
    524px 1235px #7111F5, 1512px 560px #7111F5, 1598px 1369px #7111F5,
    1600px 1375px #7111F5;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

/*estelar  CADENT*/

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-40deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;

}

.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
  top: calc(50% - -57px);
  left: calc(50% - 234px);
  -webkit-animation-delay: 7606ms;
  animation-delay: 7606ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 7606ms;
  animation-delay: 7606ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - -58px);
  left: calc(50% - 106px);
  -webkit-animation-delay: 4683ms;
  animation-delay: 4683ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 4683ms;
  animation-delay: 4683ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - 190px);
  left: calc(50% - 24px);
  -webkit-animation-delay: 1003ms;
  animation-delay: 1003ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 1003ms;
  animation-delay: 1003ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% - -5px);
  left: calc(50% - 177px);
  -webkit-animation-delay: 6762ms;
  animation-delay: 6762ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 6762ms;
  animation-delay: 6762ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% - -101px);
  left: calc(50% - 190px);
  -webkit-animation-delay: 9624ms;
  animation-delay: 9624ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 9624ms;
  animation-delay: 9624ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - -159px);
  left: calc(50% - 214px);
  -webkit-animation-delay: 4318ms;
  animation-delay: 4318ms;
}

.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 4318ms;
  animation-delay: 4318ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - -155px);
  left: calc(50% - 88px);
  -webkit-animation-delay: 8534ms;
  animation-delay: 8534ms;
}

.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 8534ms;
  animation-delay: 8534ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% - 23px);
  left: calc(50% - 294px);
  -webkit-animation-delay: 3880ms;
  animation-delay: 3880ms;
}

.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 3880ms;
  animation-delay: 3880ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% - 160px);
  left: calc(50% - 126px);
  -webkit-animation-delay: 9274ms;
  animation-delay: 9274ms;
}

.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 9274ms;
  animation-delay: 9274ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% - -164px);
  left: calc(50% - 105px);
  -webkit-animation-delay: 3279ms;
  animation-delay: 3279ms;
}

.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 3279ms;
  animation-delay: 3279ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}

@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}

@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

/* iPad Pro */
@media screen and (max-width: 1100px) {

  .sun {
    width: 35px;
    height: 35px;
    position: absolute;
    display: block;
    top: 128px;
    left: 305px;
  
  }

  .terra {
    position: absolute;
    top: 22%;
    left: 50%;
  }
}

.mars {
  position: absolute;
  top: 26%;
  left: 79%;
  width: 75px;
  height: 75px;
}


/* iPad */
@media screen and (max-width: 900px) {
  .sun {
  width: 35px;
  height: 35px;
  position: absolute;
  display: block;
  top: 128px;
  left: 289px;
}

.terra {
  position: absolute;
  top: 22%;
  left: 54%;
}

.mars {
  position: absolute;
  top: 24%;
  left: 84%;
  width: 75px;
  height: 75px;
}

}

/* Phone */
@media screen and (max-width: 600px) {

.sun {
  width: 35px;
  height: 35px;
  position: absolute;
  display: block;
  top: 124px;
  left: 132px;
}

.mars {
  position: absolute;
  top: 36%;
  left: 84%;
  width: 75px;
  height: 75px;
}

.terra {
  position: absolute;
  top: 20%;
  left: 64%;
}
}