.text-container {
    width: 25rem;
    position: relative;
    overflow: hidden;
    height: 10rem;
    margin: 1rem 0 1rem -2rem;

    video {
        position: absolute;
        top: 0;
        width: 24rem;
        height: 10rem;
    }

    svg {
        position: absolute;
        top: -1rem;
        left: -.75rem;
        width: 27rem;
    }

    span {
        font-size: 8rem;
        color: rgba(255, 255, 255, 0);
        text-transform: lowercase;
        font-family: $secondary-font;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }
  }
  
// svg {
//     position: absolute;
//     right: 0;
//     top: -38%;
// }
  
// svg rect {
//     fill: white;
//     -webkit-mask: url('#mask');
//             mask: url('#mask');
// }
  
// svg text {
//     font-size: 10rem;
//     fill: black;
//     text-transform: lowercase;
//     letter-spacing: -5px;
//     font-family: $secondary-font;
// }
  
// svg > rect {
//     fill: black;
//     width: 100%;
// }

// animation 
.nav-anim .bar1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}
  
.nav-anim .bar2 {
    transform: translateX(200%);
    opacity: 0;
}
  
.nav-anim .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
}
